{% extends 'base.html' %} {% load static %}

{% block content %}
<section class="home-landing-section">
    <div class="main-img-container">
        <div class="search-header">
            <h2>Discover your new home</h2>
            <form class="search-bar-container">
                <input type="text" class="banner-search" placeholder="Enter Address">
            <input type="submit" class="btn banner-search" value="Search">
        </form>
        </div>
    </div>
</section>
<section class="discover-section">
    <h2 class="text-muted">Discover</h2>
    <h3 class="text-center">Spotlight Listings</h3>
    {% for listing in spotlight_listings %}
        {{listing}}
    {% endfor %}
    <div class="card-container">
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/media/landing-img.jpg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <span class="property-price">€5000</span>
                <span class="for-rent-sale">FOR SALE</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">House Name</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i>Property Location</p>
                <p class="card-text">5 Bathrooms | 4 beds | Area in sqM | BER rating</p>
                <hr class="card-hr"/>
                <p class="card-text">Seller of the property</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}