{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block extra_meta %}
    <meta property="og:image" content="https://mymoireland.s3.amazonaws.com/media/landing-img.jpg" />
    <meta property="og:image:alt" content="MyMo.ie Logo" />
    <meta property="og:description" content="Fill out the form below to edit your listing | MyMo.ie" />
    <meta property="og:url" content="https://www.mymo.ie{{ request.get_full_path }}" /> 
    <meta property="og:title" content="Edit your listing | MyMo.ie" />
    <meta name="description" content="Fill out the form below to edit your listing. | MyMo.ie">
{% endblock %}
    

<title>{% block extra_title %}Edit your listing{% endblock %} {% block end_title_tag %} {{ block.super }} {% endblock %}</title>

{% block content %}
<div class="min-vh-100">
    <div class="form-container product-detail">
        <div class="alert alert-danger" role="alert">
            Editing your listing will require it to be put under review, during this time your listing won't be visible to other users. If you need to change the images on your listing, please contact us at <a href="mailto:support@mymo.ie">support@mymo.ie</a>.
          </div>
        <!------------------------------------------------ SALE FORM ------------------------------------------------------------------------->
    
        {% if editable_listing.category.name == 'sale' %}
        <form action="{% url 'edit_listing' listing_id %}" method="POST" enctype="multipart/form-data" class="checkout-form mt-2">
            {% csrf_token %}
            {{ form | as_crispy_errors }}
            <fieldset>
                <legend class="fieldset-label">
                    <i class="far fa-address-book"></i>
                    Contact Info
                </legend>
                <div id="contactInfo">
                    <hr>
                    {% if profile.is_agent %}
                    {{ listing_form.company_name | as_crispy_field }}
                    {% endif %}
                    {{ listing_form.full_name | as_crispy_field }}
                    {{ listing_form.email | as_crispy_field }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ listing_form.phone | as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ listing_form.call_between_hrs | as_crispy_field }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <legend class="fieldset-label">
                    <i class="fas fa-map-pin"></i>
                    Location of Property
                </legend>
                <div id="propertyLocation">
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            {{ listing_form.county | as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ listing_form.area | as_crispy_field }}
                        </div>
                        {{ listing_form.eircode | as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <legend class="fieldset-label">
                    <i class="fas fa-home"></i>
                    Property Info
                </legend>
                <div id="propertyInfo">
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            {{ listing_form.property_type | as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ listing_form.selling_type | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ listing_form.price | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="fw-bold" id="or">OR</h6>
                    </div>
                    <div class="row mb-2">
                        <div class="col d-flex align-items-center text-uppercase">
                            {{ listing_form.poa | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row" id="bedBathInputs">
                        <div class="col-md-6">
                            {{ listing_form.no_of_bedrooms | as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ listing_form.no_of_bathrooms | as_crispy_field }}
                        </div>
                    </div>
                    <div class="facilities">
                        {{ listing_form.facility_1 | as_crispy_field }}
                    </div>
                    <div class="facilities">
                        {{ listing_form.facility_2 | as_crispy_field }}
                    </div>
                    <div class="facilities" hidden>
                        {{ listing_form.facility_3 | as_crispy_field }}
                    </div>
                    <div class="facilities" hidden>
                        {{ listing_form.facility_4 | as_crispy_field }}
                    </div>
                    <div class="facilities" hidden>
                        {{ listing_form.facility_5 | as_crispy_field }}
                    </div>
                    <div class="facilities" hidden>
                        {{ listing_form.facility_6 | as_crispy_field }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ listing_form.floor_area_type | as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ listing_form.floor_area | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ listing_form.ber_rating | as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ listing_form.tax_designation | as_crispy_field }}
                        </div>
                    </div>
                    <div class="features">
                        {{ listing_form.top_features_1 | as_crispy_field }}
                    </div>
                    <div class="features">
                        {{ listing_form.top_features_2 | as_crispy_field }}
                    </div>
                    <div class="features" hidden>
                        {{ listing_form.top_features_3 | as_crispy_field }}
                    </div>
                    <div class="features" hidden>
                        {{ listing_form.top_features_4 | as_crispy_field }}
                    </div>
                    <div class="features" hidden>
                        {{ listing_form.top_features_5 | as_crispy_field }}
                    </div>
                    {{ listing_form.description | as_crispy_field }}
                </div>
            </fieldset>
            <hr>
            <a href="{% url 'profile' %}" class="btn form-btn">Cancel</a>
            <button class="btn form-btn" id="submitBtn">Save</button>
            <input type="hidden" value="{{ product.id }}" name="product_id">
        </form>
        {% else %}
    
        <!------------------------------------------------ RENT FORM ------------------------------------------------------------------------->
        <form action="{% url 'edit_listing' listing_id %}" method="POST" enctype="multipart/form-data" class="checkout-form">
            {% csrf_token %}
            {{ form | as_crispy_errors }}
            <fieldset>
                <legend class="fieldset-label">
                    <i class="far fa-address-book"></i>
                    Contact Info
                </legend>
                <hr>
                {% if profile.is_agent %}
                {{ listing_form.company_name | as_crispy_field }}
                {% endif %}
                {{ listing_form.full_name | as_crispy_field }}
                {{ listing_form.email | as_crispy_field }}
                <div class="row">
                    <div class="col-md-6">
                        {{ listing_form.phone | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ listing_form.call_between_hrs | as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <legend class="fieldset-label">
                    <i class="fas fa-map-pin"></i>
                    Location of Property
                </legend>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        {{ listing_form.county | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ listing_form.area | as_crispy_field }}
                    </div>
                </div>
                {{ listing_form.eircode | as_crispy_field }}
            </fieldset>
            <hr>
            <fieldset>
                <legend class="fieldset-label">
                    <i class="fas fa-home"></i>
                    Property Info
                </legend>
                <hr>
                {{ listing_form.property_type | as_crispy_field }}
                <div class="row">
                    <div class="col">
                        {{ listing_form.price | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <h6 class="fw-bold" id="or">OR</h6>
                </div>
                <div class="row mb-2">
                    <div class="col d-flex align-items-center text-uppercase">
                        {{ listing_form.poa | as_crispy_field }}
                    </div>
                </div>
                <div class="col">
                    {{ listing_form.rent_type | as_crispy_field }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ listing_form.lease_term | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ listing_form.available_from | as_crispy_field }}
                    </div>
                </div>
                <div class="row" id="rentBedsInputs">
                    <div class="col-md-4">
                        {{ listing_form.no_of_single_bedrooms | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ listing_form.no_of_double_bedrooms | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ listing_form.no_of_twin_bedrooms | as_crispy_field }}
                    </div>
                </div>
                <div class="row" id="rentBathroomsInput">
                    {{ listing_form.no_of_bathrooms | as_crispy_field }}
                </div>
                <div class="row">
                    {{ listing_form.furnishing | as_crispy_field }}
                </div>
                <div class="features">
                    {{ listing_form.top_features_1 | as_crispy_field }}
                </div>
                <div class="features">
                    {{ listing_form.top_features_2 | as_crispy_field }}
                </div>
                <div class="features" hidden>
                    {{ listing_form.top_features_3 | as_crispy_field }}
                </div>
                <div class="features" hidden>
                    {{ listing_form.top_features_4 | as_crispy_field }}
                </div>
                <div class="features" hidden>
                    {{ listing_form.top_features_5 | as_crispy_field }}
                </div>
                <div class="facilities">
                    {{ listing_form.facility_1 | as_crispy_field }}
                </div>
                <div class="facilities">
                    {{ listing_form.facility_2 | as_crispy_field }}
                </div>
                <div class="facilities" hidden>
                    {{ listing_form.facility_3 | as_crispy_field }}
                </div>
                <div class="facilities" hidden>
                    {{ listing_form.facility_4 | as_crispy_field }}
                </div>
                <div class="facilities" hidden>
                    {{ listing_form.facility_5 | as_crispy_field }}
                </div>
                <div class="facilities" hidden>
                    {{ listing_form.facility_6 | as_crispy_field }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ listing_form.floor_area_type | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ listing_form.floor_area | as_crispy_field }}
                    </div>
                </div>
                {{ listing_form.ber_rating | as_crispy_field }}
                {{ listing_form.description | as_crispy_field }}
            </fieldset>
            <hr>
            <a href="{% url 'profile' %}" class="btn form-btn">Cancel</a>
            <button class="btn form-btn" id="submitBtn">Save</button>
            <input type="hidden" value="{{ product.id }}" name="product_id">
        </form>
        {% endif %}
    </div>
</div>

<!-- Loader -->
<div class="loader-bg">
    <div class="loading-container">
        <div class="loading-text">
            <div class="heading">
                Please wait while your images are uploaded.
                <br>
                Don't navigate away from this page.
            </div>
        </div>
        <div class="loading-bubble">
            <div class="bubble-1"></div>
            <div class="bubble-2"></div>
            <div class="bubble-3"></div>
        </div>
    </div>
</div>
<!-- End of loader -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'checkout/js/loading-overlay.js' %}"></script>
<script src="{% static 'js/product_form.js' %}"></script>
{% endblock %}