{% extends 'base.html' %} {% load static %} {% load tools %}

{% block content %}
<div class="container">
    {{ profile }}

    <h1>Orders</h1>
    <hr>
    {% for order in orders %}
    {{ order }}
    {% endfor %}

    <h1>Sale Listings</h1>
    <hr>
    {% for listing in sale_listings %}
        {{ listing.company_name }}
    {% endfor %}

    <h1>Rent Listings</h1>
    {% for listing in rent_listings %}
        {{ listing }}
    {% endfor %}

    <h1>Listings</h1>
    <hr>
    {% for order in orders %}
    {% if order.product.category.name == 'sale' %}
        {{ order.sale_listing }}
    {% elif order.product.category.name == 'rent' %}
        {{ order.rent_listing }}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}