{% extends 'base.html' %} {% load static %} {% load tools %} {% load crispy_forms_tags %}

{% block extra_meta %}
    <meta property="og:image" content="https://mymoireland.s3.amazonaws.com/media/landing-img.jpg" />
    <meta property="og:image:alt" content="MyMo.ie Logo" />
    <meta property="og:description" content="Profile for {% if profile.is_agent %} {{ profile.company_name }} {% else %} {{ profile }} {% endif %} on Ireland's Best Online Property Marketplace MyMo.ie." />
    <meta property="og:url" content="https://www.mymo.ie{{ request.get_full_path }}" /> 
    <meta property="og:title" content="Profile for{% if profile.is_agent %} {{ profile.company_name }}{% else %} {{ profile }}{% endif %} | MyMo.ie" />
    <meta name="description" content="Profile for {% if profile.is_agent %}{{ profile.company_name }}{% else %}{{ profile }}{% endif %} on Ireland's Best Online Property Marketplace MyMo.ie.">
    {% endblock %}
    

<title>{% block extra_title %}Profile for {% if profile.is_agent %} {{ profile.company_name }} {% else %} {{ profile }} {% endif %}{% endblock %} {% block end_title_tag %} {{ block.super }} {% endblock %}</title>

{% block content %}
<div class="min-vh-100">
    <div class="container my-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button"
                    role="tab" aria-controls="orders" aria-selected="true">Orders</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="listings-tab" data-bs-toggle="tab" data-bs-target="#listings" type="button"
                    role="tab" aria-controls="listings" aria-selected="false">Listings</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                    role="tab" aria-controls="settings" aria-selected="false">Settings</button>
            </li>
        </ul>
    
        <div class="tab-content">
            <div class="tab-pane active" id="orders" role="tabpanel" aria-labelledby="home-tab">
                <h1>Order History</h1>
                <hr>
                {% for order in orders %}
                <div class="row">
                    <div class="row">
                        <span>
                            Product: {{ order.product.name }}
                        </span>
                    </div>
                    <div class="row">
                        <span>
                            Date: {{ order.date.date }}
                        </span>
                    </div>
                    <div class="row">
                        <span>
                            Total: €{{ order.order_total | display_price }}
                        </span>
                    </div>
                    <div class="row">
                        <span class="">
                            order Number: {{ order.order_number }}
                        </span>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="tab-pane" id="listings" role="tabpanel" aria-labelledby="profile-tab">
                <h1>Listings</h1>
                <hr>
                {% for listing in profile_listings %}
                {% if listing.category.name == 'sale' %}
                <legend>
                    <p>
                        <i class="fas fa-list"></i>
                        Listing Preview
                        <a class="" title="Click here to show details of your listing" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ listing.listing_number }}"
                            aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-angle-down chevron"></i>
                        </a>
                    </p>
                    <img src="{{ listing.header_image.url }}" alt="image of {{ listing.header_image }}" class="img-fluid max-width-60">
                    {% if listing.is_listed %}
                        <p class="text-success">LISTED</p>
                    {% else %}
                        <p class="text-danger">
                            UNLISTED
                        </p>
                    {% endif %}
                    {% if listing.times_viewed > average_views %}
                        <p class="text-success">
                            This Ad is performing above the average.
                        </p>
                    {% else %}
                        <p class="text-danger">
                            This Ad is performing under the average
                        </p>
                    {% endif %}
                    <p class="fs-6">
                        Times viewed: {{ listing.times_viewed }}
                    </p>
                    <p class="fs-6">
                        Expiration Date: {{ listing.expiration_date.date }}
                    </p>
                    {% if listing.is_spotlight %}
                        <p class="fs-6">Premium Expiration: {{ listing.premium_expiration.date }}</p>
                    {% endif %}
                    <!-- Remove Listing Button -->
                    <button type="button" class="btn form-btn" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal_{{ listing.listing_number }}">
                        Remove listing
                    </button>
                    <!-- Remove listing Modal -->
                    <div class="modal" id="confirm-delete-modal_{{ listing.listing_number }}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Remove Listing?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        <p>
                                            Are you sure you would like to remove this Listing?
                                        </p>
                                        <p>
                                            You should only remove a listing if it has sold or it is no longer for sale.
                                        </p>
                                        <p>
                                            This is permanent and you will have to re-advertise this property again!
                                        </p>
                                    </div>
                                    <hr>
                                    <form action="{% url 'delete_listing' listing.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn float-end mb-2">Remove Listing</button>
                                        <button type="button" class="btn float-end mb-2" data-bs-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </legend>
                <hr>
                <div class="collapse" id="collapse{{ listing.listing_number }}">
                    <ul class="preview-list">
                        <legend class="text-muted">
                            <i class="far fa-address-book"></i>
                            Contact Info
                        </legend>
                        <hr>
                        {% if listing.company_name %}
                        <li>
                            <span>
                                Company Name:
                            </span>
                            {{ listing.company_name }}
                        </li>
                        {% else %}
                        <li>
                            <span>
                                Full Name:
                            </span>
                            {{ listing.full_name }}
                        </li>
                        {% endif %}
                        <li>
                            <span>
                                Email:
                            </span>
                            {{ listing.email }}
                        </li>
            
                        <li>
                            <span>
                                Phone:
                            </span>
                            {{ listing.phone }}
                        </li>
            
                        <li>
                            <span>
                                Call Between:
                            </span>
                            {{ listing.call_between_hrs }}
                        </li>
                        <hr>
                        <legend class="text-muted">
                            <i class="fas fa-map-pin"></i>
                            Property Location
                        </legend>
                        <hr>
                        <li>
                            <span>
                                County:
                            </span>
                            {{ listing.county }}
                        </li>
            
                        <li>
                            <span>
                                Area:
                            </span>
                            {{ listing.area }}
                        </li>
            
                        <li>
                            <span>
                                Eircode:
                            </span>
                            {{ listing.eircode }}
                        </li>
                        <hr>
                        <legend class="text-muted">
                            <i class="fas fa-home"></i>
                            Property Info
                        </legend>
                        <li>
                            <span>
                                Property Type:
                            </span>
                            {{ listing.property_type }}
                        </li>
            
                        <li>
                            <span>
                                Selling Type:
                            </span>
                            {{ listing.selling_type }}
                        </li>
            
                        <li>
                            <span>
                                Price:
                            </span>
                            {% if listing.poa %}
                            POA
                            {% else %}
                            € {{ listing.price }}
                            {% endif %}
                        </li>
            
                        <li>
                            <span>
                                No. of Bedrooms:
                            </span>
                            {{ listing.no_of_bedrooms }}
                        </li>
            
                        <li>
                            <span>
                                No. of Bathrooms:
                            </span>
                            {{ listing.no_of_bathrooms }}
                        </li>
            
                        <li>
                            <span>
                                Facilities
                            </span>
                            <ol>
                                {% if listing.facility_1 %}
                                <li>
                                    {{ listing.facility_1 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_1 %}
                                <li>
                                    {{ listing.facility_2 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_3 %}
                                <li>
                                    {{ listing.facility_3 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_4 %}
                                <li>
                                    {{ listing.facility_4 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_5 %}
                                <li>
                                    {{ listing.facility_5 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_6 %}
                                <li>
                                    {{ listing.facility_6 }}
                                </li>
                                {% endif %}
                            </ol>
                        </li>
            
                        <li>
                            <span>
                                Floor Area:
                            </span>
                            {{ listing.floor_area }} {{ listing.floor_area_type }}
                        </li>
            
                        <li>
                            <span>
                                Ber Rating:
                            </span>
                            {{ listing.ber_rating }}
                        </li>
            
                        <li>
                            <span>
                                Tax Designation:
                            </span>
                            {{ listing.tax_designation }}
                        </li>
            
                        <li>
                            <span>
                                Top Features:
                            </span>
                            <ol>
                                {% if listing.top_features_1 %}
                                <li>
                                    {{ listing.top_features_1}}
                                </li>
                                {% endif %}
                                {% if listing.top_features_2 %}
                                <li>
                                    {{ listing.top_features_2 }}
                                </li>
                                {% endif %}
                                {% if listing.top_features_3 %}
                                <li>
                                    {{ listing.top_features_3 }}
                                </li>
                                {% endif %}
                                {% if listing.top_features_4 %}
                                <li>
                                    {{ listing.top_features_4 }}
                                </li>
                                {% endif %}
                                {% if listing.top_features_5 %}
                                <li>
                                    {{ listing.top_features_5 }}
                                </li>
                                {% endif %}
                            </ol>
                        </li>
            
                        <li>
                            <span>
                                Description:
                            </span>
                            {{ listing.description }}
                        </li>
    
                        <li>
                            <span>
                                Listing No.:
                            </span>
                            {{ listing.listing_number }}
                        </li>
                    </ul>
                </div>
                {% elif listing.category.name == 'rent' %}
                {{ listing }}
                <legend>
                    <p>
                        <i class="fas fa-list"></i>
                        Listing Preview
                        <a class="" title="Click here to show details of your listing" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ listing.listing_number }}"
                            aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-angle-down chevron"></i>
                        </a>
                    </p>
                    <img src="{{ listing.header_image.url }}" alt="image of {{ listing.header_image }}" class="img-fluid max-width-60">
                    {% if listing.is_listed %}
                        <p class="text-success">LISTED</p>
                    {% else %}
                        <p class="text-danger">
                            UNLISTED
                        </p>
                    {% endif %}
                    {% if listing.times_viewed > average_views %}
                        <p class="text-success">
                            This Ad is performing above average.
                        </p>
                    {% else %}
                        <p class="text-danger">
                            This Ad is performing under the average
                        </p>
                    {% endif %}
                    <p class="fs-6">
                        Times viewed: {{ listing.times_viewed }}
                    </p>
                    <p class="fs-6">
                        Expiration Date: {{ listing.expiration_date.date }}
                    </p>
                    {% if listing.is_spotlight %}
                        <p class="fs-6">Premium Expiration: {{ listing.premium_expiration.date }}</p>
                    {% endif %}
                    <!-- Remove Listing Button -->
                    <button type="button" class="btn form-btn" data-bs-toggle="modal" data-bs-target="#confirm-rent-delete-modal">
                        Remove listing
                    </button>
                    <!-- Remove listing Modal -->
                    <div class="modal" id="confirm-rent-delete-modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Remove Listing?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center p-4">
                                        <p>
                                            Are you sure you would like to remove this Listing?
                                        </p>
                                        <p>
                                            You should only remove a listing if it has sold or it is no longer for sale.
                                        </p>
                                        <p>
                                            This is permanent and you will have to re-advertise this property again!
                                        </p>
                                    </div>
                                    <hr>
                                    <form action="{% url 'delete_listing' listing.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn float-end mb-2">Remove Listing</button>
                                        <button type="button" class="btn float-end mb-2" data-bs-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </legend>
                <hr>
                <div class="collapse" id="collapse{{ listing.listing_number }}">
                    <ul class="preview-list">
                        <legend class="text-muted">
                            <i class="far fa-address-book"></i>
                            Contact Info
                        </legend>
                        <hr>
                        {% if listing.company_name %}
                        <li>
                            <span>
                                Company Name:
                            </span>
                            {{ listing.company_name }}
                        </li>
                        {% else %}
                        <li>
                            <span>
                                Full Name:
                            </span>
                            {{ listing.full_name }}
                        </li>
                        {% endif %}
                        <li>
                            <span>
                                Email:
                            </span>
                            {{ listing.email }}
                        </li>
            
                        <li>
                            <span>
                                Phone:
                            </span>
                            {{ listing.phone }}
                        </li>
            
                        <li>
                            <span>
                                Call Between:
                            </span>
                            {{ listing.call_between_hrs }}
                        </li>
                        <hr>
                        <legend class="text-muted">
                            <i class="fas fa-map-pin"></i>
                            Property Location
                        </legend>
                        <hr>
                        <li>
                            <span>
                                County:
                            </span>
                            {{ listing.county }}
                        </li>
            
                        <li>
                            <span>
                                Area:
                            </span>
                            {{ listing.area }}
                        </li>
            
                        <li>
                            <span>
                                Eircode:
                            </span>
                            {{ listing.eircode }}
                        </li>
                        <hr>
                        <legend class="text-muted">
                            <i class="fas fa-home"></i>
                            Property Info
                        </legend>
                        <li>
                            <span>
                                Property Type:
                            </span>
                            {{ listing.property_type }}
                        </li>
            
                        <li>
                            <span>
                                Price:
                            </span>
                            € {{ listing.price }} / {{ listing.rent_type }}
                        </li>
    
                        <li>
                            <span>
                                Available from:
                            </span>
                            {{ listing.available_from }}
                        </li>
    
                        <li>
                            <span>
                                Lease term:
                            </span>
                            {{ listing.lease_term }}
                        </li>
            
                        <li>
                            <span>
                                No. of Bedrooms:
                            </span>
                            {{ listing.no_of_bedrooms }}
                        </li>
            
                        <li>
                            <span>
                                No. of Bathrooms:
                            </span>
                            {{ listing.no_of_bathrooms }}
                        </li>
    
                        <li>
                            <span>
                                Furnishings:
                            </span>
                            {{ listing.furnishing }}
                        </li>
            
                        <li>
                            <span>
                                Facilities
                            </span>
                            <ol>
                                {% if listing.facility_1 %}
                                <li>
                                    {{ listing.facility_1 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_1 %}
                                <li>
                                    {{ listing.facility_2 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_3 %}
                                <li>
                                    {{ listing.facility_3 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_4 %}
                                <li>
                                    {{ listing.facility_4 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_5 %}
                                <li>
                                    {{ listing.facility_5 }}
                                </li>
                                {% endif %}
                                {% if listing.facility_6 %}
                                <li>
                                    {{ listing.facility_6 }}
                                </li>
                                {% endif %}
                            </ol>
                        </li>
            
                        <li>
                            <span>
                                Floor Area:
                            </span>
                            {{ listing.floor_area }} {{ listing.floor_area_type }}
                        </li>
            
                        <li>
                            <span>
                                Ber Rating:
                            </span>
                            {{ listing.ber_rating }}
                        </li>
            
                        <li>
                            <span>
                                Description:
                            </span>
                            {{ listing.description }}
                        </li>
    
                        <li>
                            <span>
                                Listing No.:
                            </span>
                            {{ listing.listing_number }}
                        </li>
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                
                <legend class="pt-4">
                    Account Settings
                    <i class="fas fa-cog"></i>
                </legend>
                <hr>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="my-3">
                        {% csrf_token %}
                        {% if profile.is_agent %}
                        {{ agent_profile_form | crispy }}
                        {% else %}
                        {{ user_profile_form | crispy }}
                        {% endif %}
                        <button class="btn form-btn mt-4" id="submit-button">Save <i class="far fa-save"></i></button>
                </form>
                <legend class="pt-4">
                    Password Settings
                    <i class="fas fa-cog"></i>
                </legend>
                <hr>
                <a href="{% url 'account_change_password' %}" title="Click here to change your password" class="btn form-btn">Change Password</a>
            </div>
        </div>
    
    
    
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}