{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block extra_meta %}
    <meta property="og:image" content="https://mymoireland.s3.amazonaws.com/media/landing-img.jpg" />
    <meta property="og:image:alt" content="MyMo.ie Logo" />
    <meta property="og:description" content="Find Houses, Apartments and Properties For Sale or to Rent in {% if request.GET.q %}{{ request.GET.q.capitalize }}{% else %}Ireland{% endif %}. Search through {{ total_listings }} properties for Sale or to Rent in {% if request.GET.q %}{{ request.GET.q.capitalize }}{% else %}Ireland{% endif %} now on MyMo.ie." />
    <meta property="og:url" content="https://www.mymo.ie{{ request.get_full_path }}" /> 
    <meta property="og:title" content="Property for Sale or to Rent in {% if request.GET.q %}{{ request.GET.q.capitalize }} {% else %}Ireland {% endif %}| MyMo.ie" />
    <meta name="description" content="Find Houses, Apartments and Properties For Sale or to Rent in {% if request.GET.q %}{{ request.GET.q.capitalize }}{% else %}Ireland{% endif %}. Search through {{ total_listings }} properties for Sale or to Rent in {% if request.GET.q %}{{ request.GET.q.capitalize }}{% else %}Ireland{% endif %} now on MyMo.ie.">
{% endblock %}
    

<title>{% block extra_title %}Property for Sale or to Rent in {% if request.GET.q %} {{ request.GET.q.capitalize }} {% else %} Ireland {% endif %} {% endblock %}{% block end_title_tag %} {{ block.super }} {% endblock %}</title>

{% block content %}
<div class="filters-container">
    <div class="filters">
        <form method="GET" action=".">
            <div class="row">
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.price | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.county | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.area | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.property_type | as_crispy_field }}
                </div>
            </div>
            <a data-bs-toggle="collapse" title="Click here to show extra filters" href="#extraFilters" role="button" aria-expanded="false"
                class="text-muted btn form-btn filters-btn">
                Extra Filters
                <i class="fas fa-angle-down chevron"></i>
            </a>
            <div class="collapse multi-collapse" id="extraFilters">
                <div class="row">
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.bedrooms | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.bathrooms | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.ber_rating | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.keyword | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.sort | as_crispy_field }}
                    </div>
                </div>
            </div>
            <button class="btn form-btn w-50" type="submit" value="">Search <i class="fas fa-search-location"></i></button>
        </form>
    </div>
</div>
<!------ Ads ------>
<!-- horizontal ad -->
<div class="center">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ad-format"
        data-ad-client="ca-pub-5373140058791800"
        data-ad-slot="4502886369"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!---------  ------------->
<div class="min-vh-100">
    {% if total_listings == 0 %}
    <div class="no-results">
        <h5><i class="fas fa-question"></i></h5>
        <h5>Sorry no results were found for that query</h5>
        <p>Please try a different query</p>
    </div>
    {% endif %}
    {% if not total_listings == 0 %}
    <div class="container mt-5 text-center">
        <h1 class="h6">
            {% if request.GET.property_type %}
                {{ request.GET.property_type }}{% if not request.GET.property_type.lower == 'land' %}s{% endif %}
            {% else %}
                Property
            {% endif %}
            for Sale or Rent in 
            {% if request.GET.q %}
                {{ request.GET.q.title }}
            {% elif request.GET.county %}
                Co. {{ request.GET.county.capitalize }}
            {% else %}
                Ireland 
            {% endif %}
            - {{ total_listings }} Results
        </h1>
    </div>
    {% endif %}
    <div class="card-container">
        {% for listing in result_list %}
        <a href="{% if listing.product.category.name == 'sale' %} {% url 'sale_listing_detail' listing.id %} {% elif listing.product.category.name == 'rent' %} {% url 'rent_listing_detail' listing.id %} {% endif %}" title="Click to view this Property">
            <div class="card h-100">
                {% if listing.is_spotlight %}
                    <div class="card-header d-flex justify-content-between align-items-center">
                    {% if listing.user_profile.company_name %}
                        {{ listing.user_profile.company_name }}
                    {% else %}
                        {{ listing.full_name }}
                    {% endif %}
                    {% if listing.user_profile.company_logo %}
                        <img src="{{ listing.user_profile.company_logo.url }}" alt="Logo for {{ listing.user_profile.company_name }}">
                    {% endif %}
                    </div>
                    {% endif %}
                <div class="card-image" style="background-image: url({{listing.header_image.url}});"></div>
                <div class="{% if listing.is_spotlight %} card-img-overlay-spotlight {% endif %} card-img-overlay">
                    <span class="property-price">{% if listing.poa %} POA {% else %}€ {{ listing.price }} {% if listing.rent_type %} / {{ listing.rent_type }}{% endif %}{% endif %}</span>
                    <span class="for-rent-sale">FOR {{ listing.category | upper }}</span>
                </div>
                <div class="card-body {% if listing.is_spotlight %} spotlight {% endif %}">
                    <h5 class="card-title">Co. {{ listing.county }}</h5>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ listing.area }}</p>
                    <p class="card-text">
                        {% if listing.property_type|lower != 'site' and listing.property_type|lower != 'land' %}
                        <i class="fas fa-bed"></i> {{ listing.no_of_bedrooms }} | <i class="fas fa-bath"></i> {{ listing.no_of_bathrooms }} |
                        {% endif %}
                        <i class="fas fa-chart-area"></i> {{ listing.floor_area }}
                        {% if listing.floor_area_type|lower == 'square meters' %} m<sup>2</sup> {% elif listing.floor_area_type|lower == 'square feet' %} ft<sup>2</sup> {% else %}{{ listing.floor_area_type }} {% endif %} |
                        {% if listing.ber_rating is None %} 
                            BER Exempt
                        {% else %}
                            <img src="{{MEDIA_URL}}ber_labels/{{ listing.ber_rating.upper }}.png" width="54" height="18" alt="BER Rating: {{ listing.ber_rating }}">
                        {% endif %} 
                    </p>
                    <hr class="card-hr"/>
                    <p class="card-text">{% if listing.company_name %} {{ listing.company_name }} {% else %} {{ listing.full_name }} {% endif %}</p>
                    {% if listing.is_spotlight %}
                        <span class="spotlight-tag">SPOTLIGHT</span>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% if 'q' in request.GET %}
{% include 'pagination_all_listings.html' with page=result_list %}
{% else %}
{% include 'pagination.html' with page=result_list %}
{% endif %}
<div class="text-center">
    <p class="text-muted">Total listings: {{ total_listings }}</p>
</div>
<!------ Ads ------>
<!-- horizontal ad -->
<div class="center">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ad-format"
        data-ad-client="ca-pub-5373140058791800"
        data-ad-slot="4502886369"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!---------  ------------->
{% endblock %}