{% extends 'base.html' %} {% load static %}

{% block content %}
<div class="card-container">
    {% for listing in result_list %}
        <div class="card h-100">
            <img src="{{ listing.header_image.url }}" class="card-img-top" alt="Photo of {{ listing }}">
            <div class="card-img-overlay">
                <span class="property-price">€ {{ listing.price }}</span>
                <span class="for-rent-sale">FOR {{ listing.category | upper }}</span>
            </div>
            <div class="card-body {% if listing.is_spotlight %} spotlight {% endif %}">
                <h5 class="card-title">Co. {{ listing.county }}</h5>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ listing.area }}</p>
                <p class="card-text">{{ listing.no_of_bathrooms }} Bathrooms | {{ listing.no_of_bedrooms }} beds | {{ listing.floor_area }} SqM | BER rating: {{ listing.ber_rating }} </p>
                <hr class="card-hr"/>
                <p class="card-text">{% if listing.company_name %} {{ listing.company_name }} {% else %} {{ listing.full_name }} {% endif %}</p>
                {% if listing.is_spotlight %}
                    <span class="spotlight-tag">SPOTLIGHT</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}