{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block content %}
<div class="filters-container">
    <div class="filters">
        <form method="GET" action=".">
            <div class="row">
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.price | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.county | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.query | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.property_type | as_crispy_field }}
                </div>
            </div>
            <a data-bs-toggle="collapse" href="#extraFilters" role="button" aria-expanded="false"
                class="text-muted">
                Extra Filters
                <i class="fas fa-angle-down chevron"></i>
            </a>
            <div class="collapse multi-collapse" id="extraFilters">
                <div class="row">
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.bedrooms | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.bathrooms | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.ber_rating | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.sort | as_crispy_field }}
                    </div>
                </div>
            </div>
            <button class="btn form-btn w-50" type="submit" value="">Filter <i class="fas fa-filter"></i></button>
        </form>
    </div>
</div>
<div class="min-vh-100">
    <div class="card-container">
        {% for listing in listings %}
            <a href="{% url 'rent_listing_detail' listing.id %}">
                <div class="card h-100">
                    <img src="{{ listing.header_image.url }}" class="card-img-top" alt="Photo of {{ listing }}">
                    <div class="{% if listing.is_spotlight %} card-img-overlay-spotlight {% endif %} card-img-overlay">
                        <span class="property-price">€ {{ listing.price }} / {{ listing.rent_type }}</span>
                        <span class="for-rent-sale">FOR {{ listing.category | upper }}</span>
                    </div>
                    <div class="card-body {% if listing.is_spotlight %} spotlight {% endif %}">
                        <h5 class="card-title">Co. {{ listing.county }}</h5>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ listing.area }}</p>
                        <p class="card-text">{{ listing.no_of_bathrooms }} Bathrooms | {{ listing.no_of_bedrooms }} beds 
                            | {{ listing.floor_area }} {% if listing.floor_area_type == 'Square Meters' %} sqM {% else %} {{ listing.floor_area_type }} {% endif %}
                            | BER rating: {{ listing.ber_rating }} </p>
                        <hr class="card-hr"/>
                        <p class="card-text">{% if listing.company_name %} {{ listing.company_name }} {% else %} {{ listing.full_name }} {% endif %}</p>
                        {% if listing.is_spotlight %}
                            <span class="spotlight-tag">SPOTLIGHT</span>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% include 'pagination.html' with page=listings %}
<div class="text-center">
    <p class="text-muted">Total listings: {{ total_listings }}</p>
</div>
{% endblock %}