{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block extra_meta %}
    <meta property="og:image" content="https://mymoireland.s3.amazonaws.com/media/landing-img.jpg" />
    <meta property="og:image:alt" content="MyMo.ie Logo" />
    <meta property="og:description" content="Find Houses, Apartments and Properties to Rent in {% if request.GET.county %}Co. {{ request.GET.county.capitalize }}{% else %}Ireland{% endif %}. Search through {{ total_listings }} properties to Rent in {% if request.GET.county %}Co. {{ request.GET.county.capitalize }}{% else %}Ireland{% endif %} now on MyMo.ie." />
    <meta property="og:url" content="https://www.mymo.ie{{ request.get_full_path }}" /> 
    <meta property="og:title" content="Property to Rent in {% if request.GET.county %}Co. {{ request.GET.county.capitalize }} {% else %}Ireland {% endif %}| MyMo.ie" />
    <meta name="description" content="Find Houses, Apartments and Properties to Rent in {% if request.GET.county %}Co. {{ request.GET.county.capitalize }}{% else %}Ireland{% endif %}. Search through {{ total_listings }} properties to Rent in {% if request.GET.county %}Co. {{ request.GET.county.capitalize }}{% else %}Ireland{% endif %} now on MyMo.ie.">
    {% endblock %}
    

<title>{% block extra_title %}Property to Rent in {% if request.GET.county %}Co. {{ request.GET.county.capitalize }} {% else %}Ireland {% endif %} {% endblock %}</title>

{% block content %}
<div class="filters-container">
    <div class="filters">
        <form method="GET" action=".">
            <div class="row">
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.price | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.county | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.area | as_crispy_field }}
                </div>
                <div class="col-xxl-3 col-lg-6 col-sm-12">
                    {{ filter_form.property_type | as_crispy_field }}
                </div>
            </div>
            <a data-bs-toggle="collapse" href="#extraFilters" role="button" aria-expanded="false"
                class="text-muted btn form-btn filters-btn">
                Extra Filters
                <i class="fas fa-angle-down chevron"></i>
            </a>
            <div class="collapse multi-collapse" id="extraFilters">
                <div class="row">
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.bedrooms | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.bathrooms | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.ber_rating | as_crispy_field }}
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.keyword | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-lg-6 col-sm-12">
                        {{ filter_form.sort | as_crispy_field }}
                    </div>
                </div>
            </div>
            <button class="btn form-btn w-50" type="submit" value="">Filter <i class="fas fa-filter"></i></button>
        </form>
    </div>
</div>
<div class="min-vh-100">
    {% if total_listings == 0 %}
    <div class="no-results">
        <h5><i class="fas fa-question"></i></h5>
        <h5>Sorry no results were found for that query</h5>
        <p>Please try a different query</p>
    </div>
    {% endif %}
    <div class="card-container">
        {% for listing in listings %}
            <a href="{% url 'rent_listing_detail' listing.id %}">
                <div class="card h-100">
                    {% if listing.is_spotlight %}
                        {% if listing.user_profile.company_name %}
                        <div class="card-header d-flex justify-content-between align-items-center">
                            {{ listing.user_profile.company_name }}
                            {% if listing.user_profile.company_logo %}
                                <img src="{{ listing.user_profile.company_logo.url }}" alt="Logo for {{ listing.user_profile.company_name }}">
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endif %}
                    <div class="card-image" style="background-image: url({{listing.header_image.url}});"></div>
                    <!-- <img src="{{ listing.header_image.url }}" class="card-img-top" alt="Photo of {{ listing }}"> -->
                    <div class="{% if listing.is_spotlight %} card-img-overlay-spotlight {% endif %} card-img-overlay">
                        <span class="property-price">€ {{ listing.price }} / {{ listing.rent_type }}</span>
                        <span class="for-rent-sale">FOR {{ listing.category | upper }}</span>
                    </div>
                    <div class="card-body {% if listing.is_spotlight %} spotlight {% endif %}">
                        <h5 class="card-title">Co. {{ listing.county }}</h5>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ listing.area }}</p>
                        <p class="card-text"><i class="fas fa-bed"></i> {{ listing.no_of_bedrooms }} | <i class="fas fa-bath"></i> {{ listing.no_of_bathrooms }} | <i class="fas fa-chart-area"></i> {{ listing.floor_area }} {% if listing.floor_area_type == 'Square Meters' %} m<sup>2</sup> {% else %}{{ listing.floor_area_type }} {% endif %} |
                            {% if listing.ber_rating is None %} 
                                BER Exempt
                            {% else %}
                                <img src="{{MEDIA_URL}}ber_labels/{{ listing.ber_rating.upper }}.png" width="54" height="18" alt="BER Rating: {{ listing.ber_rating }}">
                            {% endif %}
                        </p>
                        <hr class="card-hr"/>
                        <p class="card-text">{% if listing.company_name %} {{ listing.company_name }} {% else %} {{ listing.full_name }} {% endif %}</p>
                        {% if listing.is_spotlight %}
                            <span class="spotlight-tag">SPOTLIGHT</span>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% include 'pagination.html' with page=listings %}
<div class="text-center">
    <p class="text-muted">Total listings: {{ total_listings }}</p>
</div>
{% endblock %}