{% extends 'base.html' %} {% load static %}

{% block extra_meta %}
    <meta property="og:description" content="{{ listing.property_type.capitalize }} for Sale, {{ listing.area.capitalize }}, Co. {{ listing.county.capitalize }} for €{{ listing.price }} by {% if listing.company_name %}{{ listing.company_name }}{% else %}{{ listing.full_name }}{% endif %} on MyMo.ie" />
    <meta property="og:url" content="https://www.mymo.ie{{ request.get_full_path }}" /> 
    <meta property="og:title" content="{{ listing.property_type.capitalize }} for Sale in {{ listing.area.capitalize }}, Co. {{ listing.county.capitalize }} on MyMo.ie | MyMo.ie" />
    <meta name="description" content="{{ listing.property_type.capitalize }} for Sale in {{ listing.area.capitalize }}, Co. {{ listing.county.capitalize }} for €{{ listing.price }} by {% if listing.company_name %}{{ listing.company_name }}{% else %}{{ listing.full_name }}{% endif %} on MyMo.ie"/>
{% endblock %}
    

<title>{% block extra_title %}{{ listing.property_type.capitalize }} for Sale, {{ listing.area.capitalize }}, Co. {{ listing.county.capitalize }} on MyMo.ie {% endblock %}</title>

{% block content %}
<div class="container my-5">
    <!-- Image -->
    <div class="image-container">
        <!-- <a class="mb-5" type="button" data-bs-toggle="modal" data-bs-target="#imagesModal">
            <div id="header_carousel" class="carousel">
                <div class="carousel-indicators">
                    {% for p in photos %}
                    <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide 3"
                        class="{% if forloop.counter0 == 0 %} active {% endif %}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for p in photos %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        {% if not p.images %}
                        <img src="{{ p }}" class="d-block w-100" alt="{{ p }}">
                        {% else %}
                        <img src="{{ p.images.url }}" class="d-block w-100" alt="{{ p.images.url }}">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            </a> -->
        <!-- Button trigger modal -->
        <a class="mb-5" type="button" data-bs-toggle="modal" data-bs-target="#imagesModal">
            <p class=""><i class="fas fa-camera"></i> view Images({{ no_of_photos }})</p>
            <img class="rounded mx-auto" src="{{ listing.header_image.url }}" alt="Photo of {{ listing }}">
        </a>
    </div>
    <!-- Overview -->
    <div class="row text-center mt-2">
        <div class="col border-end border-start border-secondary">
            <p>
                {{ listing.price }}
            </p>
            <i class="fas fa-euro-sign"></i>
        </div>
        <div class="col border-end border-secondary">
            <p>
                {{ listing.no_of_bathrooms }}
            </p>
            <i class="fas fa-bath"></i>
        </div>
        <div class="col border-end border-secondary">
            <p>
                {{ listing.no_of_bedrooms }}
            </p>
            <i class="fas fa-bed"></i>
        </div>
        <div class="col border-end border-secondary">
            <p>
                {{ listing.floor_area }} {% if listing.floor_area_type == 'Square Meters' %} m<sup>2</sup> {% else %}
                {{ listing.floor_area_type }} {% endif %}
            </p>
            <i class="fas fa-chart-area"></i>
        </div>
        <div class="col border-end border-secondary">
            BER Rating
            <p>
                {{ listing.ber_rating }}
            </p>
        </div>
    </div>
    <!-- Area -->
    <div class="row mt-5 bg-light p-4">
        <p>
            <strong>
                <i class="fas fa-map-marker-alt"></i>
                {{ listing.area }}
                Co. {{ listing.county }}
                {{ listing.eircode }}
            </strong>
        </p>
        <p><strong>For sale by</strong>: {{ listing.selling_type }}</p>
        <p><strong>Property type</strong>: {{ listing.property_type }}</p>
        <p><strong>Tax designation</strong>: {{ listing.tax_designation }}</p>
    </div>
    <!-- Facilities -->
    {% if listing.facility_1 %}
    <div class="row mt-3 p-4">
        <legend>
            Facilities
        </legend>
        <hr>
        <ul class="text-start">
            {% if listing.facility_1 %}
                <li>{{ listing.facility_1 }}</li>
            {% endif %}
            {% if listing.facility_2 %}
                <li>{{ listing.facility_2 }}</li>
            {% endif %}
            {% if listing.facility_3 %}
                <li>{{ listing.facility_3 }}</li>
            {% endif %}
            {% if listing.facility_4 %}
                <li>{{ listing.facility_4 }}</li>
            {% endif %}
            {% if listing.facility_5 %}
                <li>{{ listing.facility_5 }}</li>
            {% endif %}
            {% if listing.facility_6 %}
                <li>{{ listing.facility_6 }}</li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <!-- Description -->
    <div class="row mt-3 bg-light p-4">
        <legend>
            Description
        </legend>
        <hr>
        <p>{{ listing.description }}</p>
    </div>
    <!-- Top Features -->
    <div class="row mt-3 p-4">
        <legend>
            Top Features
        </legend>
        <hr>
        <ul class="text-start">
            {% if listing.top_features_1 %}
            <li>
                {{ listing.top_features_1 }}
            </li>
            {% endif %}
            {% if listing.top_features_2 %}
            <li>
                {{ listing.top_features_2 }}
            </li>
            {% endif %}
            {% if listing.top_features_3 %}
            <li>
                {{ listing.top_features_3 }}
            </li>
            {% endif %}
            {% if listing.top_features_4 %}
            <li>
                {{ listing.top_features_4 }}
            </li>
            {% endif %}
            {% if listing.top_features_5 %}
            <li>
                {{ listing.top_features_5 }}
            </li>
            {% endif %}
            {% if listing.top_features_6 %}
            <li>
                {{ listing.top_features_6 }}
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- Listing Contact Info -->
    <div class="row mt-3 p-4 bg-light">
        <legend>
            Contact Seller
        </legend>
        <hr>
        {% if listing.user_profile.company_name %}
        <div class="agent-header purple d-flex justify-content-between align-items-center mb-3">
            {{ listing.user_profile.company_name }}
            {% if listing.user_profile.company_logo %}
                <img src="{{ listing.user_profile.company_logo.url }}" alt="Logo for {{ listing.user_profile.company_name }}">
            {% endif %}
        </div>
        {% endif %}
        <!-- {% if listing.company_name %}
            <h4 class="purple text-center p-2 text-white">
                <strong>
                    {{ listing.company_name }}
                </strong>
            </h4>
        {% endif %} -->
        <p>
            {{ listing.full_name }}
        </p>
        <p>
            {{ listing.phone }}
        </p>
        <p>
            Available Hours: {% if listing.call_between_hrs == None or '' %} Anytime {% else %} {{ listing.call_between_hrs }} {% endif %}
        </p>
        <p>
            {{ listing.email }}
        </p>
        <p>
            {% if listing.user_profile.psr_number %}PSR No.: {{ listing.user_profile.psr_number }}{% endif %}
        </p>
        <a href="{% url 'public_profile' listing.user_profile.id %}">
            View all properties
        </a>
        <a href="mailto:{{ listing.email }}" class="btn form-btn">
            Email Seller <i class="fas fa-envelope"></i>
        </a>
        <a href="tel:{{ listing.phone }}" class="btn form-btn">
            Call Seller <i class="fas fa-phone"></i>
        </a>
    </div>
    <!-- Listing MetaData -->
    <div class="row mt-3 p-4">
        <p class="text-muted">
            <strong>Times Viewed</strong>: {{ listing.times_viewed }}
        </p>
        <p class="text-muted">
            <strong>Date Created</strong>: {{ listing.date_created.date }}
        </p>
        <p class="text-muted text-break">
            <strong>Listing Number</strong>: {{ listing.listing_number }}
        </p>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="imagesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        {% for p in photos %}
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide 3"
                            class="{% if forloop.counter0 == 0 %} active {% endif %}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for p in photos %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                            {% if not p.images %}
                            <img src="{{ p }}" class="img-fluid" alt="{{ p }}">
                            {% else %}
                            <img src="{{ p.images.url }}" class="img-fluid" alt="{{ p.images.url }}">
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}