{% extends 'base.html' %} {% load static %} {% load tools %} {% load crispy_forms_tags %}

{% block extra_meta %}
    <meta property="og:image" content="https://mymoireland.s3.amazonaws.com/media/landing-img.jpg" />
    <meta property="og:image:alt" content="MyMo.ie Logo" />
    <meta property="og:description" content="Price register of properties in Ireland. Find Thousands of House and Apartment price register details across Ireland. MyMo.ie." />
    <meta property="og:url" content="https://www.mymo.ie{{ request.get_full_path }}" /> 
    <meta property="og:title" content="}Property Price Register Ireland | MyMo.ie" />
    <meta name="description" content="Price register of properties in Ireland. Find Thousands of House and Apartment price register details across Ireland. MyMo.ie.">
{% endblock %}
    

<title>{% block extra_title %}Property Price Register Ireland {% endblock %}{% block end_title_tag %} {{ block.super }} {% endblock %}</title>

{% block content %}
<div class="min-vh-100">
    <div class="filters-container">
        <div class="filters container">
            <form method="GET" action=".">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {{ filter_form.county | as_crispy_field }}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {{ filter_form.area | as_crispy_field }}
                    </div>
                </div>
                <button class="btn form-btn w-50" type="submit" value="">Search <i class="fas fa-search-location"></i></button>
            </form>
        </div>
    </div>
    <!------ Ads ------>
    <!-- in feed ad -->
    <div class="center">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle ad-format"
            data-ad-format="fluid"
            data-ad-layout-key="-fb+5w+4e-db+86"
            data-ad-client="ca-pub-5373140058791800"
            data-ad-slot="8338969840"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <!---------  ------------->
    <div class="container mt-5 agent-cards">
        <h1 class="h4 pb-2">Search for the latest properties that have sold in your area</h1>
        {% for listing in listings %}
            <div class="card mb-3">
                <a href="{% url 'property_register_detail' listing.id %}" class="stretched-link" title="Click to view other properties for Sale or Rent from {{ agent.company_name }}"></a>
                <div class="row g-0">
                    <div class="col-lg-2 text-center img-col">
                    {% if listing.user_profile.company_logo %}
                    <div class="p-4" style="background-image: url({{listing.user_profile.company_logo.url}});"></div>
                    {% endif %}
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ listing.area }}, Co. {{ listing.county }} {% if listing.eircode %} {{ listing.eircode }} {% endif %}</h5>
                            <p class="card-text">Sold for: €{{ listing.price}}</p>
                            <p class="card-text">Sold on: {{ listing.date_sold.date }}</p>
                            <div class="buttons">
                                <a href="tel:{{ listing.user_profile.phone_number }}" title="Call this Agent" class="btn form-btn">Call <i class="fas fa-phone"></i></a>
                                {% if request.user.is_authenticated %}
                                <a title="Click to send an Email to this seller" class="btn form-btn" data-bs-toggle="modal" data-bs-target="#contactModal{{ listing.user_profile.user.id }}">
                                    Email Seller <i class="fas fa-envelope"></i>
                                </a>
                                {% else %}
                                <a href="{% url 'account_login' %}" title="Click to send an Email to this seller" class="btn form-btn">E-mail <i class="fas fa-envelope"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Modal -->
            <div class="modal fade" id="contactModal{{ listing.user_profile.user.id }}" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact {{ listing.user_profile.company_name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="{% url 'contact_agent' %}" method="POST" enctype="multipart/form-data" class="contact-form">
                            {% csrf_token %}
                            {{ contact_form | crispy }}
                            <input type="hidden" name="profile_id" value="{{ listing.user_profile.user.id }}">
                            <button type="submit" class="btn form-btn w-100">Submit</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="center">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ad-format"
        data-ad-client="ca-pub-5373140058791800"
        data-ad-slot="4502886369"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<!---------  ------------->
{% include 'property_register_pagination.html' with page=listings %}
{% endblock %}