* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
  position: relative;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* border: 3px solid orange; */
  /* creates padding around scroll thumb */
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
}

.btn {
  background: #6a7fdb;
  min-width: 120px;
  min-height: 40px;
  color: white !important;
  border: 1px solid white;
  border-radius: 10px !important;
  margin: 0 1rem;
}

.btn:hover {
  color: #6a7fdb !important;
  background: rgba(255, 255, 255, 0.9);
  transition: ease-in-out 0.3s;
  border: 1px solid #6a7fdb;
}

a {
  text-decoration: none;
}

:focus {
  outline: none !important;
}

.hidden {
  display: none;
}

/* ---------------- Toasts ------------------- */
.message-container {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 9999999999999;
}

.toast {
  background-color: #303e94;
  color: white !important;
}

/* --------------------------------------------- */
/* ---------------- btt Link ------------------- */
.bttLink {
  position: fixed;
  bottom: -50px;
  right: 30px;
  z-index: 2;
  border: none;
  outline: none;
  background-color: #6a7fdb;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: bottom 1s ease-in-out;
}

.bttLinkTranslate {
  transition: bottom 1s ease-in-out;
  bottom: 50px !important;
}

.bttLink:hover {
  background: white;
  color: #6a7fdb;
  border: 1px solid #6a7fdb;
  transition: all 0.5s;
}

/* --------------------------------------------- */
/* ---------------- http error styling ------------------- */
.http-error {
  font-size: 10rem;
  color: lightgrey;
  /* opacity: 0.3;
  span {
      opacity: 1;
  } */
}

/* --------------------------------------------- */
@media only screen and (max-width: 600px) {
  .toast {
    max-width: 200px !important;
  }
}
.navbar {
  display: flex !important;
  justify-content: space-around !important;
  color: white !important;
  min-height: 105px;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}
.navbar-nav .nav-link {
  padding: 0 1rem !important;
  color: white !important;
}

.navbar-collapse {
  justify-content: space-around;
}

.transparent {
  background-color: transparent !important;
}

.purple {
  background-color: #303e94 !important;
  width: 100% !important;
  padding: 0 5rem;
}

.navbar-dark .navbar-brand {
  color: white !important;
}

.navbar-dark .navbar-toggler {
  color: white !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand {
  margin-right: 69px;
}
.navbar-brand img {
  height: 100px;
  width: auto;
  padding-bottom: 10px;
}

.navbar a.btn {
  background: transparent;
}

.navbar a.btn:hover {
  background: #303e94;
  color: white !important;
}

.left, .right {
  display: flex;
}

.navbar-collapse.show {
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  .left, .right {
    display: block;
    /* width: 55%; */
    margin: 0 auto;
  }
  .left li, .right li {
    padding: 10px 0;
  }

  .navbar-collapse.show {
    background: rgba(48, 62, 148, 0.8) !important;
  }
}
@media only screen and (max-width: 500px) {
  .purple {
    padding: 0 2rem;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
.home-landing-section {
  min-height: 674px;
}

.main-img-container {
  /* position: absolute; */
  position: relative;
  top: 0;
  background: url("/media/landing-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 674px;
  width: 100%;
}

.main-img-container:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(7, 15, 67, 0.3);
}

.search-header {
  position: absolute;
  text-align: center;
  /* width: 80%; */
  width: 95%;
  color: white;
  top: 30%;
  /* left: 10%; */
  left: 2.5%;
}

.search-header h2 {
  padding-bottom: 1rem;
}

.search-bar-container {
  background: white;
  width: 50%;
  height: 65px;
  margin: 0 auto;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
}

.banner-search {
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  border: 0px;
  margin: 9px 0px 10px 0px;
  border-radius: 0px;
  width: 45%;
}

.btn.banner-search {
  width: 20%;
  padding: 0;
}

.banner-search:focus {
  border: none !important;
}

.discover-section {
  width: 95%;
  margin: 0 auto;
}

.discover-section h2 {
  text-align: center;
}

.card-header {
  background-color: #303e94;
  color: white;
}
.card-header img {
  width: 50px;
}

.spotlight-tag {
  letter-spacing: 2px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.spotlight {
  background-color: #303e94 !important;
  color: white !important;
}

.spotlight-shadow {
  box-shadow: 0px 0px 25px 10px #6a7fdb;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 400px));
  grid-gap: 20px;
  padding: 3rem 0 3rem 0;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  .card-container {
    width: 100%;
  }
}

.card-container.detail-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 400px));
  grid-gap: 20px;
  padding: 3rem 0 3rem 0;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.card {
  min-width: 100% !important;
  transition: 1.5s;
}

.card-body {
  color: #212529;
}

.card:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.19);
}

.card-img-top {
  height: 256.53px;
}

/* .card-img-top:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(7, 15, 67, 0.8);
} */
.card-img-overlay {
  content: "";
  position: relative;
  display: flex;
  justify-content: space-between;
  /* background: rgba(gray, 0.8); */
  border-radius: 0;
  color: #212529;
  border-bottom: 1px solid lightgrey;
}

.card-img-overlay-spotlight {
  content: "";
  position: relative;
  display: flex;
  justify-content: space-between;
  background: rgba(106, 127, 219, 0.8);
  border-radius: 0;
  color: white !important;
  border-bottom: 1px solid #6a7fdb;
}

.property-price {
  /* position: absolute;
  left: 5%;
  bottom: 2%; */
  /* color: black; */
  font-weight: bold;
  font-size: 1.3rem;
}

.for-rent-sale {
  /* position: absolute;
  right: 5%;
  bottom: 15%; */
  color: white;
  background: #303e94;
  width: fit-content;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: small;
  height: max-content;
}

.card-image {
  height: 256.53px;
  width: 100%;
  background-size: cover;
  background-position: top;
}

@media only screen and (max-width: 940px) {
  .search-bar-container {
    width: 80%;
  }
}
@media only screen and (max-width: 580px) {
  .search-bar-container {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .search-bar-container {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
  }

  .banner-search {
    width: 110%;
    border-radius: 50px;
    margin: 9px 0 10px auto;
  }

  .btn.banner-search {
    width: 100%;
  }

  .property-price {
    font-size: 1rem;
  }

  .for-rent-sale {
    padding: 2px 15px;
  }
}
/* Link Hover animation */
/* [class^="link-"] {
  display: inline-block;
  margin: 2em
} */
/* linkone */
/* .link-1 a:before, .link-1 a:after {
  content: '';
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 0;
}

.link-1 a:before { left: 0; }
.link-1 a:after { right: 0; }

.link-1 a:hover:before, .link-1 a:hover:after {
  width: 50%;
}

.link-1 a:before, .link-1 a:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
} */
footer {
  background-color: #303e94;
  min-height: 15vh;
}
footer a {
  color: white !important;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 2rem 1rem;
  justify-items: center;
  color: white !important;
}

.footer-logo-section {
  grid-column: 1;
}

.footer-social-section a {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid white;
  display: inline-block;
  line-height: 35px;
  border-radius: 50px;
  font-size: 13px;
  margin: 0px 3px 0px 11px;
}

.footer-social-section h4 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 650px) {
  .footer {
    display: block;
    text-align: center;
  }
  .footer .navbar-brand {
    margin-right: 0;
  }
}
.product-section {
  height: 100vh;
  width: 95%;
  margin: 5rem auto;
  text-align: center;
  overflow: auto;
}

.products-width {
  width: 75%;
}
@media only screen and (max-width: 576px) {
  .products-width {
    width: 95%;
  }
}

.product-section h1 {
  font-weight: 300;
}

.product-section h3 {
  font-weight: 100;
}

.product-table {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.td-price {
  font-size: xx-large;
}

.premium {
  color: white !important;
  background-color: #303e94 !important;
}

th.premium p {
  font-size: xx-large;
}

.tick {
  color: lime !important;
  font-size: 1.5rem;
  text-shadow: 2px 2px black;
}

.cross {
  color: red !important;
  font-size: 1.5rem;
  text-shadow: 2px 2px black;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 62, 148, 0.4);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  font-size: 4rem;
}

/* .loading-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
} */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

/* #id_images {
    display: none;
}

#id_header_image {
    display: none;
} */
.form-container {
  /* display: grid;
  grid-template-columns: 45% 10% 45%;
  margin: 50px 10% 0 10%;
  grid-row-gap: 30px; */
  /* min-height: 100vh; */
  width: 90%;
  margin: 5rem auto;
}

.form-container input {
  margin: 0.5rem 0;
  box-shadow: 0 1px 3px 0 #e6ebf1;
}

.form-container select {
  margin: 0.5rem 0;
  box-shadow: 0 1px 3px 0 #e6ebf1;
}

.form-btn {
  margin: 0.5rem 0;
}

legend a {
  color: #212529 !important;
}

.divider {
  height: 100%;
  background-color: #303e94;
  width: 1px;
  margin: 0 auto;
}

.header-image-preview img, .image-preview img {
  height: 150px;
  width: 250px;
  margin: 1rem;
  box-shadow: 0px 10px 13px -7px #000000;
  border-radius: 10px;
}

input:focus, select:focus {
  border-color: #6a7fdb !important;
  /* box-shadow: 0 0 0 0.25rem rgba($tertiary-color, 0.5) !important; */
  box-shadow: none !important;
}

.scroll-section {
  max-height: 50px;
  overflow-y: auto;
}

.order-form {
  display: grid;
  grid-column: 3;
}

/* Stripe elements */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  border-color: #6a7fdb !important;
  /* box-shadow: 0 0 0 0.25rem rgba($tertiary-color, 0.5) !important; */
}

.StripeElement--webkit-autofill {
  background-color: transparent !important;
}

.card-errors {
  color: red;
}

select:invalid,
select option:first-child {
  color: #6c757d !important;
}

.filters-container {
  background: #eff0f0;
  padding: 1rem;
  position: relative;
}

.filters-container.all-listings {
  background: #eff0f0;
  padding: 1rem;
  position: relative;
}
@media only screen and (max-width: 400px) {
  .filters-container.all-listings {
    height: 200px;
  }
}

.filters {
  width: 75%;
  margin: 2rem auto 0 auto;
}
.filters input, .filters select {
  margin-bottom: 1rem;
}
.filters .btn {
  display: block;
}

.filters.all-listings {
  width: unset;
  margin: 2rem auto 0 auto;
}
.filters.all-listings input, .filters.all-listings select {
  margin-bottom: 1rem;
}
.filters.all-listings .btn {
  display: block;
}

.form-check-label {
  padding-top: 0.3rem;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

a.hover-link {
  color: #303e94;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;
}
a.hover-link:before, a.hover-link:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}
a.hover-link:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
a.hover-link:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
a.hover-link:hover:before, a.hover-link:hover:after, a.hover-link:focus:before, a.hover-link:focus:after {
  opacity: 1;
  transform: translateY(0);
}
a.hover-link:hover:before, a.hover-link:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
a.hover-link:hover:after, a.hover-link:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

.preview-list {
  text-align: left;
  padding: 1rem 0;
}
.preview-list span {
  color: #6c757d !important;
}

.allauth-container {
  margin-top: 5rem;
}
.allauth-container a {
  color: #6a7fdb !important;
}

.max-width-60 {
  max-width: 60%;
}

.listing-detail-container img {
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.no-results {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 5rem;
}

.image-container {
  text-align: center;
}
.image-container p {
  position: absolute;
  z-index: 9;
  background-color: #6a7fdb;
  color: white;
  padding: 10px;
}
.image-container img {
  position: relative;
  display: block;
  /* width: 100%; */
  max-width: 100%;
  height: auto;
  /* min-width: 50vw; */
  max-height: 800px;
}

.agent-header {
  color: white;
}
.agent-header img {
  width: 80px;
}

/************** Modal Section *****************/
.modal.image-modal {
  padding: 0 !important;
}

.btn-close.image-modal {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 99;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
}

.carousel-item.image-modal {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modal-dialog.image-modal {
  max-width: unset;
  margin: 0;
}

.modal-body.image-modal {
  height: 100vh;
  width: 100vw;
  padding: 0;
}

/* .modal {
    background: rgba(0,0,0, 0.2);
}

.modal-body {
    padding: 0 !important;
}

.modal-content {
    .btn-close {
        position: absolute;
        z-index: 9;
        background-color: white;
        right: 5px;
        top: 5px;
    }
} */
/* .modal-dialog {
    max-width: fit-content;

    /* @media only screen and (min-width: 576px) {
        max-width: 70%;
    } */
/* } */
/* .carousel-item {
    img {
        max-height: 80vh; */
/* width: 100%; */
/*     }
} */
/* .share-modal {
    min-width: 200px;
    min-height: 150px;
} */
/* --------------------------------------------------------------- */
@media only screen and (max-width: 576px) {
  .modal-dialog {
    margin: 0 auto;
  }
}
.loader-bg {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: rgba(48, 62, 148, 0.8);
  width: 100%;
  height: 100%;
}

#loader-bg {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #303e94;
  width: 100%;
  height: 100%;
}

.loading-container {
  position: fixed;
  display: grid;
  text-align: center;
  font-size: 5rem;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 1fr;
}

.loading-text {
  align-self: end;
  color: white;
  font-size: 2rem;
}

.loading-logo {
  width: 10%;
}

.loading-bubble {
  align-self: start;
  color: #303e94;
}

.loading-bubble > div {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-bubble .bubble-1 {
  animation-delay: -1.28s;
}

.loading-bubble .bubble-2 {
  animation-delay: -0.64s;
}

.loading-bubble .bubble-3 {
  animation-delay: -0.32s;
}

.loading-spinner {
  font-size: 36px;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 650px) {
  .loading-container {
    font-size: 1.8rem;
  }

  .loading-text {
    font-size: 1.5rem;
  }

  .loading-logo {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .loading-text {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles09.css.map */
