{% extends "account/base.html" %} {% load crispy_forms_tags %} {% load static %}

{% block extra_meta %}
    <meta property="og:description" content="Sign up to Ireland's Best Online Property Marketplace. Search through thousands of houses, apartments and properties for sale and rent in Kildare, Galway, Dublin Ireland." />
    <meta property="og:url" content="https://www.mymo.ie{{ request.get_full_path }}" /> 
    <meta property="og:title" content="Sign up to Ireland's Best Online Property Marketplace | MyMo.ie" />
    <meta name="description" content="Sign up to Ireland's Best Online Property Marketplace. Search through thousands of houses, apartments and properties for sale and rent in Kildare, Galway, Dublin Ireland.">
    <meta name="keywords" content="Apartments for Sale Dublin, Houses for Sale Kildare, Property for Sale Galway"/>
{% endblock %}

{% load i18n %}
<!-- {% load account socialaccount %} -->

<title>{% block extra_title %}Sign up to Ireland's Best Online Property Marketplace {% endblock %}{% block end_title_tag %} {{ block.super }} {% endblock %}</title>

{% block content %}
<div class="container allauth-container">
    <div class="form-container">
        <div class="signup-form">
            <div class="container text-center">
                <img src="{{MEDIA_URL}}mymo-purp.jpg" class="img-fluid" alt="MyMo.ie Logo">
            </div>
            <h1 class="fw-bold h5 text-start">Sign Up</h1>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn form-btn d-block w-100" type="submit"><span class="me-3"><i class="fas fa-user-plus"></i></span>{% trans "Sign Up" %}</button>
            </form>
            <a href="{{ login_url }}" class="btn form-btn w-100 p-4 bg-dark-purp"><i class="fas fa-sign-in-alt"></i> Use Existing Account</a>
            {% get_providers as socialaccount_providers %}
    
            {% if socialaccount_providers %}
    
            <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}
            <p>If you are an agent please email <a href="mailto:support@mymo.ie" title="Click here to Email Us">support@mymo.ie</a> or call <a href="tel:+353877648382" title="Click here to call us">0877648382</a> to setup an account.</p>
        </div>

        
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/addIcons.js' %}"></script>  
{% endblock %}