{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3c2820491c.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>MyMo {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-md navbar-dark {% if request.path == '/' %} transparent {% else %} purple {% endif %}">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}mymo.png" alt="MyMo Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <div class="left">
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'for_sale_listings' %}">Buy</a>
                            </li>
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'for_rent_listings' %}">Rent</a>
                            </li>
                        </div>
                        <div class="right">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li class="nav-item">
                                        <a href="{% url 'admin:index' %}" class="hover-link nav-link">Admin</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="hover-link nav-link">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'account_logout' %}" class="hover-link nav-link">Logout</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="hover-link nav-link" href="{% url 'account_login' %}">Login</a>
                                </li>
                                {% endif %}
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'products' %}">Place Ad</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

  <button class="bttLink" title="Back to top"><i class="far fa-arrow-alt-circle-up"></i></button>

    {% block page_header %}
    {% endblock %}

    {% block allauth %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer>
        <div class="footer">
            <div class="footer-logo-section">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}mymo.png" alt="MyMo Logo">
                </a>
                <p>MyMo description</p>
            </div>
            <div class="footer-contact-section">
                <h4>Contact Us</h4>
                <p><i class="fas fa-map-marker-alt"></i> Location</p>
                <p><i class="fas fa-phone-alt"></i> 0851234567</p>
                <p><i class="fas fa-envelope"></i> mymo@support.com</p>
            </div>
            <div class="footer-social-section">
                <h4>Follow Us</h4>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block postloadjs %}
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        var option = {
            animation: true,
            delay: 5000,
        }
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, option)
        })
        for (var i=0; i<toastList.length; i++) {
            toastList[i].show()
        }
    </script>
    {% endblock %}
</body>

</html>