{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="LY9govUtZY5wSwCgDa5MosuuEMBQ1jJvi7-NaJ8EjXI" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_IE" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="MyMo" />
    <link rel="canonical" href="https://mymo.ie{{ request.get_full_path }}">
    <link rel="alternate" href="https://mymo.ie{{request.get_full_path}}" hreflang="en-ie">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="DC.title" content="MyMo.ie - Houses, Apartments and Properties for Sale and Rent" />
    <meta name="geo.region" content="IS-8" />
    <meta name="geo.placename" content="Mayo" />
    <meta name="geo.position" content="64.984182;-18.105901" />
    <meta name="ICBM" content="64.984182, -18.105901" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles37.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% if not request.session.dev %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script data-ad-client="ca-pub-5373140058791800" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NCN6BHWQYP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NCN6BHWQYP');
    </script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3c2820491c.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // Load the SDK asynchronously
        (function (d, s, id) {
          var js,
            sjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://sdk.snapkit.com/js/v1/create.js";
          sjs.parentNode.insertBefore(js, sjs);
        })(document, "script", "snapkit-creative-kit-sdk");
    </script>
    <!-- Local Business Structured Data -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "MyMo.ie",
        "url": "https://mymo.ie/",
        "logo": "https://mymoireland.s3.amazonaws.com/media/mymo.png",
        "image": "https://mymoireland.s3.amazonaws.com/media/landing-img.jpg",
        "description": "We are Ireland's best online property market. Search through thousands of repossessed houses, apartments & properties for sale and rent in Kildare, Galway, Dublin.",
        "pricerange":"$", 
        "telephone": "353 876213665",
        "email" : "support@mymo.ie",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Co. Mayo",
            "addressLocality": "Mayo",
            "addressRegion": "Ireland",
            "postalCode": "F28 A002",
            "addressCountry": "IE"
        
        },
        "sameAs": [
            "https://mymo.ie/"
        ]
    }
    </script>
    <!-- End Local Business Structured Data -->
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block extra_title %}MyMo.ie - Houses, Apartments and Properties for Sale and Rent in Ireland{% endblock %} {% block end_title_tag %}| MyMo.ie {% endblock %}</title>
</head>
<!-- {% if request.path == '/' %} transparent {% else %} purple {% endif %} -->
<body>
    <header>
        <nav
            class="navbar navbar-expand-md navbar-dark purple">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}" title="Click here to return home">
                    <img src="{{ MEDIA_URL }}mymo.png" alt="MyMo Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav mb-3 mb-md-0 d-none d-md-flex">
                    <div class="left">
                        <div class="btn-group">
                            <li class="nav-item dropdown">
                                <a class="nav-link d-inline buy-link" href="{% url 'for_sale_listings' %}">
                                Buy
                                </a>
                                <a class="dropdown-toggle dropdown-toggle-split text-white" data-bs-toggle="navbarDropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                                </a>
                                <ul class="dropdown-menu desktop" aria-labelledby="navbarDropdown">
                                <div class="parent">
                                    <li class="child">
                                        <div class="title">
                                            <a class="dropdown-item stretched-link" href="{% url 'for_sale_listings' %}" title="Click here to see Apartments, Property, Sites and Land for Sale in Ireland">
                                                Buy
                                            </a>
                                        </div>
                                        <div class="desc">
                                           <span>Search Apartments, Property, Sites and Land for Sale in Ireland.</span>
                                        </div>
                                    </li>
                                    <li class="child">
                                        <div class="title">
                                            <a class="dropdown-item stretched-link" href="{% url 'for_sale_by_owner' %}" title="Click here to see Apartments, Property, Sites and Land for Sale By Owner in Ireland">
                                                Buy - For Sale By Owner
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <span>Search Apartments, Property, Sites and Land for Sale By Owner in Ireland</span>
                                        </div>
                                    </li>
                                </div>
                                </ul>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="hover-link nav-link" href="{% url 'for_rent_listings' %}" title="Apartments and Properties for Rent">Rent</a>
                        </li>
                        <li class="nav-item">
                            <a class="hover-link nav-link" href="{% url 'estate_agents' %}" title="Click here to Search Estate Agents from all over Ireland.">Agent Finder</a>
                        </li>
                    </div>
                    <div class="right">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <li class="nav-item">
                                    <a href="{% url 'admin:index' %}" class="hover-link nav-link">Admin</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{% url 'profile' %}" class="hover-link nav-link" title="Click here to view your Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" class="hover-link nav-link" title="Click here to logout">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'account_login' %}" title="Click here to Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'account_signup' %}" title="Click here to Sign Up">Sign Up</a>
                            </li>
                            {% endif %}
                        <li class="nav-item">
                            <a class="hover-link nav-link" href="{% url 'products' %}" title="List your Property Now for Sale and Rent">Place Ad</a>
                        </li>
                    </div>
                </ul>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-3 mb-md-0 d-md-none">
                        <div class="left">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Buy
                                </a>
                                <ul class="dropdown-menu mobile purple mobile-buy-dropdown" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item hover-link" href="{% url 'for_sale_listings' %}" title="Click here to see Apartments, Property, Sites and Land for Sale in Ireland">Buy - All</a></li>
                                    <li><a class="dropdown-item hover-link" href="{% url 'for_sale_by_owner' %}" title="Click here to see Apartments, Property, Sites and Land for Sale By Owner in Ireland">Buy - For Sale By Owner</a></li>
                                    </ul>
                              </li>
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'for_rent_listings' %}" title="Apartments and Properties for Rent">Rent</a>
                            </li>
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'estate_agents' %}" title="Click here to Search Estate Agents from all over Ireland.">Agent Finder</a>
                            </li>
                        </div>
                        <div class="right">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li class="nav-item">
                                        <a href="{% url 'admin:index' %}" class="hover-link nav-link">Admin</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="hover-link nav-link" title="Click here to view your Profile">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'account_logout' %}" class="hover-link nav-link" title="Click here to logout">Logout</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="hover-link nav-link" href="{% url 'account_login' %}" title="Click here to Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="hover-link nav-link" href="{% url 'account_signup' %}" title="Click here to Sign Up">Sign Up</a>
                                </li>
                                {% endif %}
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'products' %}" title="List your Property Now for Sale and Rent">Place Ad</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Message container -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Back to top button -->
    <button class="bttLink" title="Back to top"><i class="far fa-arrow-alt-circle-up"></i></button>

    <!-- Loading overlay -->
    <div id="loader-bg">
      <div class="loading-container">
        <div class="loading-text">
        <div class="heading">
            <img class="loading-logo" src="{{ MEDIA_URL }}mymo.png" alt="MyMo Logo">
        </div>
        </div>
            <div class="loading-bubble">
                <div class="bubble-1"></div>
                <div class="bubble-2"></div>
                <div class="bubble-3"></div>

            </div>
        </div>
    </div>

    {% block page_header %}
    {% endblock %}

    {% block allauth %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% block footer %}
    <!-- Popular Searches -->
    <div class="popular-searches p-4 mt-5">
        <div class="container">
            <div class="footer-logo-section">
                <a class="navbar-brand m-0" href="{% url 'home' %}" title="Click here to go home">
                    <img src="{{ MEDIA_URL }}mymo-purp.jpg" alt="MyMo Logo">
                </a>
                <a href="{% url 'listings' %}" title="Click here to see Apartments, Properties, Sites and Land for Sale or Rent in Ireland">
                    <h6 class="fw-bold">Looking for a Property?</h6>
                    <p>
                        Whether you are looking for Repossessed Houses, Houses for Sale By Owner or Houses for Private Sale we have it all, search through our extensive database of Houses, Apartments and Properties for Sale or Rent in Ireland.
                    </p>
                </a>
                <a href="{% url 'products' %}" title="List Home Now for Sale and Rent">
                    <h6 class="fw-bold">Looking to Advertise?</h6>
                    <p>
                        Whether you are an Estate Agent or choosing to advertise yourself, we can help your House, Apartment or Property gain exposure.
                    </p>
                </a>
            </div>
            <hr>
            <div class="property-dropdowns text-center mt-5">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg pt-3">
                        <legend class="h6">
                            <a data-bs-toggle="collapse" href="#propertySale" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Properties for Sale <i class="fas fa-chevron-down"></i>
                            </a>
                        </legend>
                        <div class="collapse" id="propertySale">
                            <hr>
                            <legend class="h6">
                                <a href="{% url 'for_sale_listings' %}?price=&county=&area=&property_type=house&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Houses</a>
                            </legend>
                            <hr>
                            <ul class="p-0">
                                <li class="p-1">
                                    <a href="{% url 'for_sale_by_owner' %}">Houses for Sale by Owner</a>
                                </li>
                                <li class="p-1">
                                    <a href="{% url 'for_sale_by_owner' %}">Houses for Private Sale</a>
                                </li>
                                <li class="p-1">
                                    <a href="{% url 'listings' %}?price=&county=&area=&property_type=repossessed+house&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Repossessed Houses</a>
                                </li>
                                {% for county in counties %}
                                <li class="p-1">
                                    <a href="{% url 'for_sale_listings' %}?price=&county={{county}}&area=&property_type=house&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Houses for Sale {{ county }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <legend class="h6">
                                <a href="{% url 'for_sale_listings' %}?price=&county=&area=&property_type=apartment&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Apartments</a>
                            </legend>
                            <hr>
                            <ul>
                                {% for county in counties %}
                                    <li class="p-1">
                                        <a href="{% url 'for_sale_listings' %}?price=&county={{county}}&area=&property_type=apartment&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Apartments for Sale {{ county }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg pt-3">
                        <legend class="h6">
                            <a data-bs-toggle="collapse" href="#propertyRent" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Properties for Rent <i class="fas fa-chevron-down"></i>
                            </a>
                        </legend>
                        <div class="collapse" id="propertyRent">
                            <hr>
                            <legend class="h6">
                                <a href="{% url 'for_rent_listings' %}?price=&county=&area=&property_type=house&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Houses</a>
                            </legend>
                            <hr>
                            <ul class="p-0">
                                {% for county in counties %}
                                <li class="p-1">
                                    <a href="{% url 'for_rent_listings' %}?price=&county={{county}}&area=&property_type=house&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Houses for Rent {{ county }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <legend class="h6">
                                <a href="{% url 'for_rent_listings' %}?price=&county=&area=&property_type=apartment&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Apartments</a>
                            </legend>
                            <hr>
                            <ul>
                                {% for county in counties %}
                                    <li class="p-1">
                                        <a href="{% url 'for_rent_listings' %}?price=&county={{county}}&area=&property_type=apartment&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Apartments for Rent {{ county }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg pt-3">
                        <legend class="h6">
                            <a data-bs-toggle="collapse" href="#allProperties" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Browse Properties <i class="fas fa-chevron-down"></i>
                            </a>
                        </legend>
                        <div class="collapse" id="allProperties">
                            <hr>
                            <legend class="h6">
                                <a href="{% url 'listings' %}">Properties</a>
                            </legend>
                            <hr>
                            <ul class="p-0">
                                <li class="p-1">
                                    <a href="{% url 'for_sale_by_owner' %}">Houses for Sale by Owner</a>
                                </li>
                                <li class="p-1">
                                    <a href="{% url 'for_sale_by_owner' %}">Houses for Private Sale</a>
                                </li>
                                <li class="p-1">
                                    <a href="{% url 'listings' %}?price=&county=&area=&property_type=repossessed+house&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Repossessed Houses</a>
                                </li>
                                {% for county in counties %}
                                <li class="p-1">
                                    <a href="{% url 'listings' %}?price=&county={{county}}&area=&property_type=&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Properties for Sale or Rent {{ county }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <legend class="h6">
                                <a href="{% url 'listings' %}?price=&county=&area=&property_type=site&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Sites</a>
                            </legend>
                            <hr>
                            <ul>
                                {% for county in counties %}
                                    <li class="p-1">
                                        <a href="{% url 'listings' %}?price=&county={{county}}&area=&property_type=site&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=">Sites for Sale or Rent {{ county }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg pt-3">
                        <legend class="h6">
                            <a data-bs-toggle="collapse" href="#popularSearches" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Popular Searches <i class="fas fa-chevron-down"></i>
                            </a>
                        </legend>
                        <div class="collapse" id="popularSearches">
                            <ul class="p-0">
                                <li>
                                    <a href="{% url 'for_sale_listings' %}?price=&county=&area=&property_type=Site&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=" title="Click here to view sites for Sale">Sites for Sale</a>
                                </li>
                                <li>
                                    <a href="{% url 'for_rent_listings' %}?price=&county=dublin&area=&property_type=&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=" title="Click here to view properties for Rent in Dublin">Rent Dublin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg pt-3">
                        <legend class="h6">
                            <a data-bs-toggle="collapse" href="#popularSearchesByArea" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Popular Searches By Area <i class="fas fa-chevron-down"></i>
                            </a>
                            
                        </legend>
                        <div class="collapse" id="popularSearchesByArea">
                            <ul class="p-0">
                                <li>
                                    <a href="{% url 'for_sale_listings' %}?price=&county=dublin&area=&property_type=Apartment&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=" title="Click here to view Apartments for Sale in Dublin">Apartments for Sale Dublin</a>
                                </li>
                                <li>
                                    <a href="{% url 'for_sale_listings' %}?price=&county=galway&area=&property_type=&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=" title="Click here to view Apartments, Properties and Sites for Sale in Galway">Property for Sale Galway</a>
                                </li>
                                <li>
                                    <a href="{% url 'for_sale_listings' %}?price=&county=dublin&area=&property_type=House&bedrooms=&bathrooms=&ber_rating=&keyword=&sort=" title="Click here to view Properties for Sale in Dublin">Houses for Sale Dublin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="m-0">
    <footer>
        <div class="footer">
            <div class="footer-logo-section">
                <a class="navbar-brand m-0" href="{% url 'home' %}" title="Click here to go home">
                    <img src="{{ MEDIA_URL }}mymo.png" alt="MyMo Logo">
                </a>
                <p>Whether you are looking for Repossessed Houses, Houses for Sale By Owner, Houses for Private Sale we have it all on Ireland's Best Online Property Market.</p>
            </div>
            <div class="footer-contact-section">
                <h4>Contact Us</h4>
                <!-- <p><i class="fas fa-map-marker-alt"></i> Location</p> -->
                <p><i class="fas fa-phone-alt"></i> <a href="tel:+00353877648382" title="Click here to call us">+00353 877648382</a></p>
                <p><i class="fas fa-envelope"></i> <a href="mailto:support@mymo.ie" title="Click here to Email us">support@mymo.ie</a></p>
            </div>
            <div class="footer-social-section">
                <h4>Follow Us</h4>
                <a href="https://www.facebook.com/mymo.ie/" title="Click here to view our Facebook Page" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/mymo.ie/" title="Click here to view our Instagram Page" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <!-- <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a> -->
            </div>
        </div>
        <a href="{% url 'sitemap' %}" class="d-block text-center text-white pb-1" title="Click here to view the Sitemap for MyMo.ie">Sitemap</a>
    </footer>
    {% endblock %}

    {% block postloadjs %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script>
        var option = {
            animation: true,
            delay: 5000,
        }
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, option)
        })
        for (var i=0; i<toastList.length; i++) {
            toastList[i].show()
        }
    </script>
    {% endblock %}
</body>

</html>