{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="LY9govUtZY5wSwCgDa5MosuuEMBQ1jJvi7-NaJ8EjXI" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_IE" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="MyMo" />
    <link rel="canonical" href="https://www.mymo.ie{{ request.get_full_path }}">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles13.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script data-ad-client="ca-pub-5373140058791800" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NCN6BHWQYP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NCN6BHWQYP');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3c2820491c.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block extra_title %}Explore Ireland's Best Online Property Marketplace{% endblock %} | MyMo.ie</title>
</head>
<!-- {% if request.path == '/' %} transparent {% else %} purple {% endif %} -->
<body>
    <header>
        <nav
            class="navbar navbar-expand-md navbar-dark purple">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}mymo.png" alt="MyMo Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-3 mb-md-0">
                        <div class="left">
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'for_sale_listings' %}">Buy</a>
                            </li>
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'for_rent_listings' %}">Rent</a>
                            </li>
                        </div>
                        <div class="right">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li class="nav-item">
                                        <a href="{% url 'admin:index' %}" class="hover-link nav-link">Admin</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="hover-link nav-link">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'account_logout' %}" class="hover-link nav-link">Logout</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="hover-link nav-link" href="{% url 'account_login' %}">Login</a>
                                </li>
                                {% endif %}
                            <li class="nav-item">
                                <a class="hover-link nav-link" href="{% url 'products' %}">Place Ad</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Message container -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Back to top button -->
    <button class="bttLink" title="Back to top"><i class="far fa-arrow-alt-circle-up"></i></button>

    <!-- Loading overlay -->
    <div id="loader-bg">
      <div class="loading-container">
        <div class="loading-text">
        <div class="heading">
            <img class="loading-logo" src="{{ MEDIA_URL }}mymo.png" alt="MyMo Logo">
        </div>
        </div>
            <div class="loading-bubble">
                <div class="bubble-1"></div>
                <div class="bubble-2"></div>
                <div class="bubble-3"></div>

            </div>
        </div>
    </div>

    {% block page_header %}
    {% endblock %}

    {% block allauth %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer>
        <div class="footer">
            <div class="footer-logo-section">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}mymo.png" alt="MyMo Logo">
                </a>
                <p>Ireland's Best Online Property Market.</p>
            </div>
            <div class="footer-contact-section">
                <h4>Contact Us</h4>
                <!-- <p><i class="fas fa-map-marker-alt"></i> Location</p> -->
                <p><i class="fas fa-phone-alt"></i> <a href="tel:+00353877648382">+00353 877648382</a></p>
                <p><i class="fas fa-envelope"></i> <a href="mailto:support@mymo.ie">support@mymo.ie</a></p>
            </div>
            <div class="footer-social-section">
                <h4>Follow Us</h4>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block postloadjs %}
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        var option = {
            animation: true,
            delay: 5000,
        }
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, option)
        })
        for (var i=0; i<toastList.length; i++) {
            toastList[i].show()
        }
    </script>
    {% endblock %}
</body>

</html>