.agent-cards{
    .card {
        height: 200px;

        @media only screen and (max-width: 991px) {
            height: 334px;
        }
    }

    .img-col {
        div {
            height: 200px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-origin: content-box;
            
            @media only screen and (max-width: 991px) {
                height: 130px;
            }
        }

    }

    .card-body {
        height: 100%;
        @media only screen and (max-width: 992px) {
            text-align: center;
        }
        .buttons {
            position: absolute;
            bottom: 10px;
            right: 15px;
            z-index: 5;

            @media only screen and (max-width: 767px) {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.profile-cards {
    .img-col {
        div {
            height: 276px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-origin: content-box;
        }
    }

    .card-body {
        height: 100%;
        @media only screen and (max-width: 992px) {
            text-align: center;
        }

        .card-title {
            width: 75%;
            @media only screen and (max-width: 992px) {
                width: 100%;
            }
        }

        .buttons {
            position: absolute;
            bottom: 10px;
            right: 15px;
            z-index: 5;

            @media only screen and (max-width: 992px) {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .alerts {
            .alert {
                padding: 0.5rem !important;
                margin-bottom: 0.5rem !important;
                width: 50%;
                @media only screen and (max-width: 992px) {
                    width: 100%;
                }
            }
        }

        .for-sale-rent {
            position: absolute;
            top: 10px;
            right: 15px;
            background-color: $secondary-color;
            border-radius: 3px;
            color: $font-color;
            width: fit-content;
            padding: 5px 15px;
            font-size: small;
        }
    }
}
