footer {
    background-color: #303e94;
    min-height: 15vh;
    a {
        color: $font-color !important;
    }

    a:hover {
        color: $tertiary-color !important;
    }
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 2rem 1rem;
    justify-items: center;
    color: $font-color !important;
    align-items: baseline;
}

.footer-logo-section {
    grid-column: 1;
    text-align: center;
}

.footer-social-section a {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid $font-color;
    display: inline-block;
    line-height: 35px;
    border-radius: 50px;
    font-size: 13px;
    margin: 0px 3px 0px 11px;
}

.footer-social-section h4 {
    margin-bottom: 1rem;
}

.popular-searches, .property-dropdowns {
    background-color: #eff0f0 !important;
    legend {
        color: #555 !important;
    }

    ul li a {
        color: #555;
    }

    ul li a:hover {
        text-decoration: underline;
        color: $tertiary-color;
    }
}

 // ***************** MEDIA QUERIES ***************** //

 @media only screen and (max-width: 650px) {
    .footer {
        display: block;
        text-align: center;

        .navbar-brand {
            margin-right: 0;
        }
    }

    .popular-searches {
        legend {
            font-size: 1rem;
            font-weight: 600;
        }
    }
}