.form-container {
    /* display: grid;
    grid-template-columns: 45% 10% 45%;
    margin: 50px 10% 0 10%;
    grid-row-gap: 30px; */
    /* min-height: 100vh; */
    width: 90%;
    margin: 5rem auto;
}

.form-container input {
    margin: 0.5rem 0;
}

.form-container select {
    margin: 0.5rem 0;
}

.form-btn {
    margin: 0.5rem 0;
}

legend a {
    color: #212529 !important;
}

.divider {
    height: 100%;
    background-color: $secondary-color;
    width: 1px;
    margin: 0 auto;
}

.header-image-preview img, .image-preview img {
    height: 150px;
    width: 250px;
    margin: 1rem;
    box-shadow: 0px 10px 13px -7px #000000;
    border-radius: 10px;
}

input:focus, select:focus {
    border-color: $tertiary-color !important;
    box-shadow: 0 0 0 0.25rem rgba($tertiary-color, 0.5) !important;
}

.scroll-section {
  max-height: 50px;
  overflow-y: auto;
}

.order-form {
    display: grid;
    grid-column: 3;
}