.form-container {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin: 50px 10% 0 10%;
    grid-row-gap: 30px;
}

.form-container input {
    margin: 0.5rem 0;
}

.form-container select {
    margin: 0.5rem 0;
}

.form-btn {
    margin: 0.5rem 0;
}

legend a {
    color: #212529 !important;
}

.divider {
    height: 100%;
    background-color: $secondary-color;
    width: 1px;
    grid-column: 2;
    justify-self: center;
}
