.home-landing-section {
    min-height: 674px;
}
.main-img-container {
    position: absolute;
    top: 0;
    background: url('/media/landing-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 674px;
    width: 100%;
}

// Overlay for image
.main-img-container:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(7, 15, 67, 0.8);
}

.search-header {
    position: absolute;
    text-align: center;
    width: 80%;
    color: $font-color;
    top: 30%;
    left: 10%;
}

.search-header h2 {
    padding-bottom: 1rem;
}

.search-bar-container {
    background: $font-color;
    width: 50%;
    height: 65px;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
}

.banner-search {
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    border: 0px;
    margin: 9px 0px 10px 0px;
    border-radius: 0px;
    width: 45%;
}

.btn.banner-search {
    width: 20%;
    padding: 0;
}

.banner-search:focus {
    border: none !important;
}

.discover-section {
    width: 95%;
    margin: 0 auto;
}

.discover-section h2 {
    text-align: center;
}

.spotlight {
    background-color: $secondary-color !important;
    color: white;
}

// ***************** CARDS SECTION ***************** //

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 400px));
    grid-gap: 20px;
    padding: 3rem 0 3rem 0;
    justify-content: center;
}

.card {
    min-width: 100% !important;
    transition: 1.5s;
}

.card:hover {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.19);
}

.card-img-top {
    width: 398px;
    height: 256.53px;
}

.card-img-top:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(7, 15, 67, 0.8);
}

// Change this with a media query for very small screens, the bottom parameter
.card-img-overlay {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    background: rgba(255,255,255, 0.3);
    bottom: 41.5%;
}

.property-price {
    position: absolute;
    left: 5%;
    bottom: 2%;
    color: $font-color;
    font-weight: bold;
    font-size: 1.3rem;
}
 .for-rent-sale {
    position: absolute;
    right: 5%;
    bottom: 15%;
    color: $font-color;
    background: $secondary-color;
    width: fit-content;
    border-radius: 50px;
    padding: 2px 15px;
    font-size: small;
 }