.home-landing-section {
    min-height: 674px;
}
.main-img-container {
    position: absolute;
    top: 0;
    background: url('/media/landing-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 674px;
    width: 100%;
}

// Overlay for image
.main-img-container:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(7, 15, 67, 0.8);
}

.search-header {
    position: absolute;
    text-align: center;
    width: 80%;
    color: $font-color;
    top: 30%;
    left: 10%;
}

.search-header h2 {
    padding-bottom: 1rem;
}

.search-bar-container {
    background: $font-color;
    width: 50%;
    height: 65px;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
}

.banner-search {
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    border: 0px;
    margin: 9px 0px 10px 0px;
    border-radius: 0px;
    width: 45%;
}

.btn.banner-search {
    width: 20%;
    padding: 0;
}

.banner-search:focus {
    border: none !important;
}

.discover-section {
    width: 95%;
    margin: 0 auto;
}

.discover-section h2 {
    text-align: center;
}


// ***************** CARDS SECTION ***************** //
.spotlight-tag {
    letter-spacing: 2px;
    font-weight: bold;
    color: rgba(255,255,255 , 0.8);
}

.spotlight {
    background-color: $secondary-color !important;
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 400px));
    grid-gap: 20px;
    padding: 3rem 0 3rem 0;
    justify-content: center;
}

.card {
    min-width: 100% !important;
    transition: 1.5s;
}

.card:hover {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.19);
}

.card-img-top {
    height: 256.53px;
}

/* .card-img-top:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(7, 15, 67, 0.8);
} */

// Change this with a media query for very small screens, the bottom parameter
.card-img-overlay {
    content: "";
    position: relative;
    display: flex;
    justify-content: space-between;
    /* left: 0;
    right: 0;
    top: 50%; */
    background: rgba($secondary-color, 0.8);
    border-radius: 0;
    /* bottom: 41.5%; */
}

.property-price {
    /* position: absolute;
    left: 5%;
    bottom: 2%; */
    color: $font-color;
    font-weight: bold;
    font-size: 1.3rem;
}
 .for-rent-sale {
    /* position: absolute;
    right: 5%;
    bottom: 15%; */
    color: $font-color;
    background: $secondary-color;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: small;
    height: max-content;
 }

 // ***************** MEDIA QUERIES ***************** //
@media only screen and (max-width: 940px) {
    .search-bar-container {
        width: 80%;
    }
}

@media only screen and (max-width: 580px) {
    .search-bar-container {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .search-bar-container {
        width: 100%;
        display: grid;
        justify-content: space-evenly;
    }

    .banner-search {
        width: 90%;
        border-radius: 50px;
        margin: 9px 0 10px auto;
    }

    .btn.banner-search {
        width: 100%;
    }

    .property-price {
        font-size: 1rem;
    }

    .for-rent-sale {
        padding: 2px 15px;
    }
}

 /* Link Hover animation */

 /* [class^="link-"] {
  display: inline-block;
  margin: 2em
} */

 /* linkone */
/* .link-1 a:before, .link-1 a:after {
  content: '';
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 0;
}

.link-1 a:before { left: 0; }
.link-1 a:after { right: 0; }

.link-1 a:hover:before, .link-1 a:hover:after {
  width: 50%;
}

.link-1 a:before, .link-1 a:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
} */