$red: #F37272;
$brown: #584E4A;
$whitey: #f0f0f0;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

a.hover-link {
  color: $secondary-color;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;

   &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0; right: 0;
    height: 2px;
    background-color: $font-color;
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}