.listing-detail-container {
    img {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }
}

.image-container {
    text-align: center;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.modal {
    background: rgba($tertiary-color, 0.6);
}

.modal-dialog {
    max-width: 90%;
}