.listing-detail-container {
    img {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }
}

.no-results {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 5rem;
}

.image-container {
    text-align: center;

    img {
        display: block;
        width: 100%;
        height: auto;
        min-width: 50vw;
    }
}

.modal {
    background: rgba(0,0,0, 0.2);
}

.modal-body {
    padding: 0 !important;
}

.modal-content {
    .btn-close {
        position: absolute;
        z-index: 9;
        background-color: white;
        right: 5px;
        top: 5px;
    }
}

.modal-dialog {
    max-width: 90%;
}

@media only screen and (max-width: 576px) {
    .modal-dialog {
        margin: .5rem auto;
    }
}