.navbar {
    display: flex !important;
    justify-content: space-around !important;
    color: white !important;
    min-height: 105px;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;

    .nav-link {
        padding: 0 1rem !important;
        color: $font-color !important;
    }

    .nav-link.buy-link {
        padding: 0 !important;
    }
}

.navbar-collapse {
    justify-content: space-around;
}

.transparent {
    background-color: transparent !important;
}

.purple {
    background-color: #303e94 !important;
    width: 100% !important;
    padding: 0 5rem;
}

.navbar-dark .navbar-brand {
    color: white !important;
}

.navbar-dark .navbar-toggler {
    color: $font-color !important;
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand {
    margin-right: 69px;

    img {
        height: 100px;
        width: auto;
        padding-bottom: 10px;
    }
}

.navbar a.btn {
    background: transparent;
}

.navbar a.btn:hover {
    background: $secondary-color;
    color: $font-color !important;
}

.left, .right {
    display: flex;
}

.navbar-collapse.show {
    transition: 1s;
}

.mobile-buy-dropdown {
    border: none;
    text-align: center;
    li a {
        color: $font-color !important;
    }

    li a:hover {
        background-color: $secondary-color;
    }
}

.dropdown-menu.desktop {
    transition: top 0.25s ease 0s;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
    padding: 15px 0;
    flex-direction: column;
    width: 261px;
    animation: fadeIn 0.5s;
    opacity: 1;

    .child {
        cursor: pointer;
        position: relative;
    }

    .parent:hover .child {
        opacity: .25;
    }
    .parent .child:hover {
        opacity: 1;
    }

    .dropdown-item:hover {
        background: white;
    }

    .dropdown-item {
        padding: 0;
    }

    .title {
        font-size: 15px;
        color: #2b2b2b;
        background-color: #FFFFFF;
        opacity: 1;
        padding: 19px 20px 16px;
        padding-bottom: 12px;
        line-height: 14px;
        cursor: pointer;

        a {
            font-weight: bold;
        }
    }

    .desc {
        width: 200px;
        font-weight: 400;
        font-weight: 400;
        font-size: 13.33px;
        color: #82888c;
        vertical-align: middle;
        line-height: 20px;
        padding: 0px 20px 16px;
        padding-bottom: 12px;
    }
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  } to {
      opacity: 1;
  }
}

// ***************** MEDIA QUERIES ***************** //
@media only screen and (max-width: 767px){
    .left, .right {
        display: block;
        /* width: 55%; */
        margin: 0 auto;
        li {
            padding: 10px 0;
        }
    }

    .navbar-collapse.show {
        background: rgba($secondary-color, 0.8) !important;
    }
}

 @media only screen and (max-width: 500px) {
    .purple {
        padding: 0 2rem
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}