.allauth-container {
    margin-top: 5rem;

    /* a {
        color: $tertiary-color !important;
    } */
}

.login-form, .signup-form {
    width: 100%;

    img {
        width: 100%;

        @media only screen and (min-width: 767px){
            width: 75%;
        }
    }

    @media only screen and (min-width: 767px){
        width: 50%;
        margin: 0 auto;
    }
}

.max-width-60 {
    max-width: 60%;
}