$main-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-color: white;
$secondary-color:#303e94;
$tertiary-color: #6a7fdb;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: $main-font;
}

h1, h2, h3, h4, h5 {
    font-family: $secondary-font;
} 

%button-style {
    background: $tertiary-color;
    min-width: 120px;
    height: 40px;
    color: $font-color !important;
    border: 1px solid $font-color;
    border-radius: 10px !important;
    margin: 0 1rem;
}

%button-hover {
    color: $tertiary-color !important;
    background: rgba($font-color, 0.9);
    transition: ease-in-out 0.3s;
}

a {
    color: white !important;
}

/* a:hover {
    color: $tertiary-color !important;
} */

.btn {
    @extend %button-style
}

.btn:hover {
    @extend %button-hover
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

:focus {
    outline: none !important;
}

@import 'nav';
@import 'home';
@import 'footer';
@import 'products';
@import 'forms';
@import 'hover_effects';