{% extends 'base.html' %} {% load static %} {% load tools %}

{% block extra_meta %}
    <meta property="og:image" content="https://mymoireland.s3.amazonaws.com/media/landing-img.jpg" />
    <meta property="og:image:alt" content="MyMo.ie Logo" />
    <meta property="og:description" content="Choose A Product To List Your Property {% if request.GET.category == 'sale' %}For Sale{% elif request.GET.category == 'rent' %}To Rent{% endif %} on MyMo.ie, Ireland's Best Online Property Marketplace. | MyMo.ie" />
    <meta property="og:url" content="https://www.mymo.ie{{ request.get_full_path }}" /> 
    <meta property="og:title" content="Choose a product to list your Property {% if request.GET.category == 'sale' %}for Sale{% elif request.GET.category == 'rent' %}to Rent{% endif %} on MyMo.ie | MyMo.ie" />
    <meta name="description" content="Choose A Product To List Your Property {% if request.GET.category == 'sale' %}For Sale{% elif request.GET.category == 'rent' %}To Rent{% endif %} on MyMo.ie, Ireland's Best Online Property Marketplace. | MyMo.ie">
{% endblock %}
    

<title>{% block extra_title %}Choose a product to list your Property {% if request.GET.category == 'sale' %}for Sale{% elif request.GET.category == 'rent' %}to Rent{% endif %} on MyMo.ie {% endblock %}</title>

{% block content %}
<section class="product-section">
    <h1 class="mb-4">Ireland's most competitive housing platform</h1>
    <h3 class="mb-4 text-muted">List your home now!</h3>
    <div>
        {% for cat in categories %}
        <a class="btn" href="{% url 'products' %}?category={{ cat.name }}">For {{ cat.name.capitalize }}</a>
        {% endfor %}
    </div>


    <div class="product-table mb-4">
        <div class="row row-cols-1 row-cols-md-2 g-4 products-width">
            <div class="col">
                {% for product in products %}
                {% if product.is_premium == True %}
                <div class="card bg-light spotlight spotlight-shadow h-100">
                    <div class="card-body spotlight">
                        <h5 class="card-title">{{product.friendly_name}} - {{ product.category.name.capitalize }}</h5>
                        <p class="card-text">The ultimate way to advertise your property</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item td-price spotlight">
                           <p class="text-decoration-line-through fs-4">
                               €{{ product.pre_sale_price | display_price}}
                           </p> 
                           <p>
                               €{{ product.price | display_price }}
                           </p>
                        </li>
                        <li class="list-group-item spotlight">
                            {% if product.category.name == 'rent' %}
                                90 Days
                            {% else %}
                                365 Days Live
                            {% endif %}
                        </li>
                        <li class="list-group-item spotlight">Unlimited Photos</li>
                        <li class="list-group-item spotlight">
                            Premium Listing for 30 days
                        </li>
                        <li class="list-group-item spotlight">
                            Priority Listing
                        </li>
                        <li class="list-group-item spotlight">
                            Visualy enhanced advert
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'product_detail' product.name product.id %}" class="card-link btn stretched-link">Advertise Now</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col">
                {% for product in products %}
                {% if product.is_premium == False %}
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{product.friendly_name}} - {{ product.category.name.capitalize }}</h5>
                        <p class="card-text">Advertise your house on MyMo</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item td-price">
                            <p class="text-decoration-line-through fs-4">
                                €{{ product.pre_sale_price | display_price}}
                            </p> 
                            <p>
                                €{{ product.price | display_price }}
                            </p>
                         </li>
                        <li class="list-group-item">
                            {% if product.category.name == 'rent' %}
                                90 Days
                            {% else %}
                                365 Days Live
                            {% endif %}
                        </li>
                        <li class="list-group-item">Unlimited Photos</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'product_detail' product.name product.id %}" class="card-link btn stretched-link">Advertise Now</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <p class="fs-6 text-muted mt-3"><i class="fas fa-lock"></i> Payments secured via SSL and Stripe</p>
</section>
{% endblock %}