{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block content %}
<div class="min-vh-100">
    <div class="form-container">
    
        <!------------------------------------------------ SALE FORM ------------------------------------------------------------------------->
    
        {% if product.category.name == 'sale' %}
        <form action="{% url 'create_listings' %}" method="POST" enctype="multipart/form-data" class="checkout-form">
            {% csrf_token %}
            <fieldset>
                <legend class="fieldset-label">
                    <i class="far fa-address-book"></i>
                    Contact Info
                </legend>
                <div id="contactInfo">
                    <hr>
                    {{ listing_form.company_name | as_crispy_field }}
                    {{ listing_form.full_name | as_crispy_field }}
                    {{ listing_form.email | as_crispy_field }}
                    <div class="row">
                        <div class="col">
                            {{ listing_form.phone | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.call_between_hrs | as_crispy_field }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <legend class="fieldset-label">
                    <i class="fas fa-map-pin"></i>
                    Location of Property
                </legend>
                <div id="propertyLocation">
                    <hr>
                    <div class="row">
                        <div class="col">
                            {{ listing_form.county | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.area | as_crispy_field }}
                        </div>
                        {{ listing_form.eircode | as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <legend class="fieldset-label">
                    <i class="fas fa-home"></i>
                    Property Info
                </legend>
                <div id="propertyInfo">
                    <hr>
                    <div class="row">
                        <div class="col">
                            {{ listing_form.property_type | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.selling_type | as_crispy_field }}
                        </div>
                    </div>
                    {{ listing_form.price | as_crispy_field }}
                    <div class="row">
                        <div class="col">
                            {{ listing_form.no_of_bedrooms | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.no_of_bathrooms | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ listing_form.facility_1 | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.facility_2 | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.facility_3 | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ listing_form.facility_4 | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.facility_5 | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.facility_6 | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ listing_form.floor_area_type | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.floor_area | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ listing_form.ber_rating | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ listing_form.tax_designation | as_crispy_field }}
                        </div>
                    </div>
                    <div class="features">
                        {{ listing_form.top_features_1 | as_crispy_field }}
                    </div>
                    <div class="features" hidden>
                        {{ listing_form.top_features_2 | as_crispy_field }}
                    </div>
                    <div class="features" hidden>
                        {{ listing_form.top_features_3 | as_crispy_field }}
                    </div>
                    <div class="features" hidden>
                        {{ listing_form.top_features_4 | as_crispy_field }}
                    </div>
                    <div class="features" hidden>
                        {{ listing_form.top_features_5 | as_crispy_field }}
                    </div>
                    {{ listing_form.description | as_crispy_field }}
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <legend>
                    <i class="fas fa-images"></i>
                    Property Images
                </legend>
                <div id="propertyImages">
                    <hr>
                    {{ listing_form.header_image | as_crispy_field }}
                    <!-- <a class="btn mx-0 my-1" id="headerImgClone">Choose Image</a> -->
                    <!-- To display image from header image -->
                    <div class="header-image-preview">
                    </div>
                    {{ images_form | crispy }}
                    <!-- <a class="btn mx-0 my-1" id="imagesClone">Choose Images</a> -->
                    <!-- To display images from images form -->
                    <div class="image-preview">
                    </div>
                </div>
            </fieldset>
            <hr>
            {% if user.is_agent and user.subscription_paid and not product.is_premium %}
            <button class="btn form-btn" id="submitBtn">Create Listing</button>
            {% else %}
            <button class="btn form-btn" id="submitBtn">Continue to payment</button>
            {% endif %}
            <input type="hidden" value="{{ product.id }}" name="product_id">
        </form>
    
        {% else %}
    
        <!------------------------------------------------ RENT FORM ------------------------------------------------------------------------->
        <form action="{% url 'create_listings' %}" method="POST" enctype="multipart/form-data" class="checkout-form">
            {% csrf_token %}
            <fieldset>
                <legend class="fieldset-label">
                    <i class="far fa-address-book"></i>
                    Contact Info
                </legend>
                <hr>
                {{ listing_form.company_name | as_crispy_field }}
                {{ listing_form.full_name | as_crispy_field }}
                {{ listing_form.email | as_crispy_field }}
                <div class="row">
                    <div class="col">
                        {{ listing_form.phone | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.call_between_hrs | as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <legend class="fieldset-label">
                    <i class="fas fa-map-pin"></i>
                    Location of Property
                </legend>
                {{ listing_form.county | as_crispy_field }}
                {{ listing_form.area | as_crispy_field }}
                {{ listing_form.eircode | as_crispy_field }}
            </fieldset>
            <hr>
            <fieldset>
                <legend class="fieldset-label">
                    <i class="fas fa-home"></i>
                    Property Info
                </legend>
                {{ listing_form.property_type | as_crispy_field }}
                <div class="row">
                    <div class="col">
                        {{ listing_form.rent_type | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.price | as_crispy_field }}
                    </div>
                </div>
                {{ listing_form.available_from | as_crispy_field }}
                {{ listing_form.lease_term | as_crispy_field }}
                <div class="row">
                    <div class="col">
                        {{ listing_form.no_of_single_bedrooms | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.no_of_double_bedrooms | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.no_of_twin_bedrooms | as_crispy_field }}
                    </div>
                </div>
                {{ listing_form.no_of_bathrooms | as_crispy_field }}
                {{ listing_form.furnishing | as_crispy_field }}
                <div class="row">
                    <div class="col">
                        {{ listing_form.facility_1 | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.facility_2 | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.facility_3 | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ listing_form.facility_4 | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.facility_5 | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.facility_6 | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ listing_form.floor_area_type | as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ listing_form.floor_area | as_crispy_field }}
                    </div>
                </div>
                {{ listing_form.ber_rating | as_crispy_field }}
                {{ listing_form.description | as_crispy_field }}
            </fieldset>
            <fieldset>
                <legend>
                    <i class="fas fa-images"></i>
                    Property Images
                </legend>
    
                {{ listing_form.header_image | as_crispy_field }}
                <!-- <a class="btn mx-0 my-1" id="headerImgClone">Choose Image</a> -->
                <!-- To display image from header image -->
                <div class="header-image-preview">
                </div>
                {{ images_form | crispy }}
                <!-- <a class="btn mx-0 my-1" id="imagesClone">Choose Images</a> -->
                <!-- To display images from images form -->
                <div class="image-preview">
                </div>
            </fieldset>
            <hr>
            {% if user.is_agent and user.subscription_paid and not product.is_premium %}
            <button class="btn form-btn" id="submitBtn">Create Listing</button>
            {% else %}
            <button class="btn form-btn" id="submitBtn">Continue to payment</button>
            {% endif %}
            <input type="hidden" value="{{ product.id }}" name="product_id">
        </form>
        {% endif %}
    </div>
</div>

<!-- Loader -->
<div class="loader-bg">
    <div class="loading-container">
        <div class="loading-text">
            <div class="heading">
                Please wait while your images are uploaded.
                <br>
                Don't navigate away from this page.
            </div>
        </div>
        <div class="loading-bubble">
            <div class="bubble-1"></div>
            <div class="bubble-2"></div>
            <div class="bubble-3"></div>
        </div>
    </div>
</div>
<!-- End of loader -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'checkout/js/loading-overlay.js' %}"></script>

<script>
    function readHeaderURL(input) {
        document.querySelector('.header-image-preview').innerHTML = '';
        if (input.files && input.files[0]) {
            var files = input.files

            for (let file of files) {
                if (file.size < 6000000) {
                    let img = new Image;
                    img.src = URL.createObjectURL(file);
                    document.querySelector('.header-image-preview').appendChild(img);
                } else {
                    alert('One or more of your files is too large, max 6MB');
                }
            }

        }
    }

    function readURL(input) {
        document.querySelector('.image-preview').innerHTML = '';
        if (input.files && input.files[0]) {
            var files = input.files

            for (let file of files) {
                if (file.size < 6000000) {
                    let img = new Image;
                    img.src = URL.createObjectURL(file);
                    document.querySelector('.image-preview').appendChild(img);
                } else {
                    alert('One or more of your files is too large, max 6MB');
                }
            }

        }
    }

    function displayFeatures() {
        $('.features').keyup(function () {
            $(this).next('.features').attr('hidden', false);
            if ($(this).find('.textInput').val() == '') {
                $(this).next('.features').attr('hidden', true);
            }
        });
    }

/*     const realHeaderImg = $('#id_header_image');
    const cloneBtn = $('#headerImgClone');
    const realImgsBtn = $('#id_images');
    const imagesCloneBtn = $('#imagesClone'); */

/*     cloneBtn.click(function () {
        realHeaderImg.click();
    });

    imagesCloneBtn.click(function () {
        realImgsBtn.click();
    }); */

    displayFeatures();
</script>
{% endblock %}